// File generated from our OpenAPI spec

import {StripeResource} from '../StripeResource.js';
import {RequestOptions} from '../Types.js';
import {PaginationParams, Metadata} from '../shared.js';
import {ApiListPromise, Response} from '../lib.js';
const stripeMethod = StripeResource.method;
export class InvoiceRenderingTemplateResource extends StripeResource {
  /**
   * List all templates, ordered by creation date, with the most recently created template appearing first.
   */
  list(
    params?: InvoiceRenderingTemplateListParams,
    options?: RequestOptions
  ): ApiListPromise<InvoiceRenderingTemplate>;
  list(options?: RequestOptions): ApiListPromise<InvoiceRenderingTemplate>;
  list(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'GET',
      fullPath: '/v1/invoice_rendering_templates',
      methodType: 'list',
    }).call(this, ...args);
  }

  /**
   * Retrieves an invoice rendering template with the given ID. It by default returns the latest version of the template. Optionally, specify a version to see previous versions.
   */
  retrieve(
    id: string,
    params?: InvoiceRenderingTemplateRetrieveParams,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  retrieve(
    id: string,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  retrieve(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'GET',
      fullPath: '/v1/invoice_rendering_templates/{template}',
    }).call(this, ...args);
  }

  /**
   * Updates the status of an invoice rendering template to ‘archived' so no new Stripe objects (customers, invoices, etc.) can reference it. The template can also no longer be updated. However, if the template is already set on a Stripe object, it will continue to be applied on invoices generated by it.
   */
  archive(
    id: string,
    params?: InvoiceRenderingTemplateArchiveParams,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  archive(
    id: string,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  archive(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'POST',
      fullPath: '/v1/invoice_rendering_templates/{template}/archive',
    }).call(this, ...args);
  }

  /**
   * Unarchive an invoice rendering template so it can be used on new Stripe objects again.
   */
  unarchive(
    id: string,
    params?: InvoiceRenderingTemplateUnarchiveParams,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  unarchive(
    id: string,
    options?: RequestOptions
  ): Promise<Response<InvoiceRenderingTemplate>>;
  unarchive(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'POST',
      fullPath: '/v1/invoice_rendering_templates/{template}/unarchive',
    }).call(this, ...args);
  }
}
export /**
 * Invoice Rendering Templates are used to configure how invoices are rendered on surfaces like the PDF. Invoice Rendering Templates
 * can be created from within the Dashboard, and they can be used over the API when creating invoices.
 */
interface InvoiceRenderingTemplate {
  /**
   * Unique identifier for the object.
   */
  id: string;

  /**
   * String representing the object's type. Objects of the same type share the same value.
   */
  object: 'invoice_rendering_template';

  /**
   * Time at which the object was created. Measured in seconds since the Unix epoch.
   */
  created: number;

  /**
   * Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
   */
  livemode: boolean;

  /**
   * Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
   */
  metadata: Metadata | null;

  /**
   * A brief description of the template, hidden from customers
   */
  nickname: string | null;

  /**
   * The status of the template, one of `active` or `archived`.
   */
  status: InvoiceRenderingTemplate.Status;

  /**
   * Version of this template; version increases by one when an update on the template changes any field that controls invoice rendering
   */
  version: number;
}
export namespace InvoiceRenderingTemplate {
  export type Status = 'active' | 'archived';
}
export interface InvoiceRenderingTemplateRetrieveParams {
  /**
   * Specifies which fields in the response should be expanded.
   */
  expand?: Array<string>;

  version?: number;
}
export interface InvoiceRenderingTemplateListParams extends PaginationParams {
  /**
   * Specifies which fields in the response should be expanded.
   */
  expand?: Array<string>;

  status?: InvoiceRenderingTemplateListParams.Status;
}
export namespace InvoiceRenderingTemplateListParams {
  export type Status = 'active' | 'archived';
}
export interface InvoiceRenderingTemplateArchiveParams {
  /**
   * Specifies which fields in the response should be expanded.
   */
  expand?: Array<string>;
}
export interface InvoiceRenderingTemplateUnarchiveParams {
  /**
   * Specifies which fields in the response should be expanded.
   */
  expand?: Array<string>;
}
