// File generated from our OpenAPI spec

import {StripeResource} from '../../../StripeResource.js';
import {PaymentRetrySignal} from './PaymentRetrySignals.js';
import {RequestOptions, Response} from '../../../lib.js';

export class PaymentRetryEvaluationResource extends StripeResource {
  /**
   * Creates a new payment retry evaluation for a failed payment.
   * @throws Stripe.AlreadyExistsError
   * @throws Stripe.CannotProceedError
   */
  create(
    params?: V2.Signals.PaymentRetryEvaluationCreateParams,
    options?: RequestOptions
  ): Promise<Response<PaymentRetryEvaluation>> {
    return this._makeRequest(
      'POST',
      '/v2/signals/payment_retry_evaluations',
      params,
      options
    ) as any;
  }
  /**
   * Retrieves a payment retry evaluation by ID.
   */
  retrieve(
    id: string,
    params?: V2.Signals.PaymentRetryEvaluationRetrieveParams,
    options?: RequestOptions
  ): Promise<Response<PaymentRetryEvaluation>> {
    return this._makeRequest(
      'GET',
      `/v2/signals/payment_retry_evaluations/${encodeURIComponent(id)}`,
      params,
      options
    ) as any;
  }
  /**
   * Updates an active payment retry evaluation with a replacement payment identifier.
   * @throws Stripe.AlreadyExistsError
   * @throws Stripe.CannotProceedError
   */
  update(
    id: string,
    params?: V2.Signals.PaymentRetryEvaluationUpdateParams,
    options?: RequestOptions
  ): Promise<Response<PaymentRetryEvaluation>> {
    return this._makeRequest(
      'POST',
      `/v2/signals/payment_retry_evaluations/${encodeURIComponent(id)}`,
      params,
      options
    ) as any;
  }
  /**
   * Cancels an active payment retry evaluation.
   * @throws Stripe.CannotProceedError
   */
  cancel(
    id: string,
    params?: V2.Signals.PaymentRetryEvaluationCancelParams,
    options?: RequestOptions
  ): Promise<Response<PaymentRetryEvaluation>> {
    return this._makeRequest(
      'POST',
      `/v2/signals/payment_retry_evaluations/${encodeURIComponent(id)}/cancel`,
      params,
      options
    ) as any;
  }
}
export interface PaymentRetryEvaluation {
  /**
   * Unique identifier for the evaluation.
   */
  id: string;

  /**
   * String representing the object's type. Objects of the same type share the same value of the object field.
   */
  object: 'v2.signals.payment_retry_evaluation';

  /**
   * When the evaluation was canceled, if applicable.
   */
  canceled_at?: string;

  /**
   * Reason provided for canceling the evaluation.
   */
  cancellation_reason?: string;

  /**
   * When the evaluation was created.
   */
  created: string;

  /**
   * The PaymentRetrySignal resource represents a single retry recommendation
   * generated by the ML scoring model.
   */
  latest_signal: PaymentRetrySignal;

  /**
   * Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
   */
  livemode: boolean;

  /**
   * The payment intent being evaluated, if provided instead of a payment record.
   */
  payment_intent?: string;

  /**
   * The payment record being evaluated.
   */
  payment_record?: string;

  /**
   * Current status of the evaluation.
   */
  status: PaymentRetryEvaluation.Status;
}
export namespace PaymentRetryEvaluation {
  export type Status = 'canceled' | 'completed' | 'expired' | 'monitoring';
}
export namespace V2 {
  export namespace Signals {
    export interface PaymentRetryEvaluationCreateParams {
      /**
       * ID of the PaymentIntent to evaluate. Mutually exclusive with payment_record.
       */
      payment_intent?: string;

      /**
       * ID of the PaymentRecord to evaluate. Mutually exclusive with payment_intent.
       */
      payment_record?: string;
    }
  }
}
export namespace V2 {
  export namespace Signals {
    export interface PaymentRetryEvaluationRetrieveParams {}
  }
}
export namespace V2 {
  export namespace Signals {
    export interface PaymentRetryEvaluationUpdateParams {
      /**
       * PaymentIntent to update to. Must match the evaluation's signal type.
       */
      payment_intent?: string;

      /**
       * PaymentRecord to update to. Must match the evaluation's signal type.
       */
      payment_record?: string;
    }
  }
}
export namespace V2 {
  export namespace Signals {
    export interface PaymentRetryEvaluationCancelParams {
      /**
       * Optional reason for canceling the evaluation.
       */
      cancellation_reason?: string;
    }
  }
}
