// File generated from our OpenAPI spec

import {StripeResource} from '../../../StripeResource.js';
import {
  MetadataParam,
  AddressParam,
  Address,
  JapanAddressParam,
  Metadata,
} from '../../../shared.js';
import {RequestOptions, ApiListPromise, Response} from '../../../lib.js';
const stripeMethod = StripeResource.method;
export class AccountResource extends StripeResource {
  /**
   * Returns a list of Accounts.
   */
  list(
    params?: V2.Core.AccountListParams,
    options?: RequestOptions
  ): ApiListPromise<Account>;
  list(options?: RequestOptions): ApiListPromise<Account>;
  list(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'GET',
      fullPath: '/v2/core/accounts',
      methodType: 'list',
    }).call(this, ...args);
  }

  /**
   * An Account is a representation of a company, individual or other entity that a user interacts with. Accounts contain identifying information about the entity, and configurations that store the features an account has access to. An account can be configured as any or all of the following configurations: Customer, Merchant and/or Recipient.
   */
  create(
    params?: V2.Core.AccountCreateParams,
    options?: RequestOptions
  ): Promise<Response<Account>>;
  create(options?: RequestOptions): Promise<Response<Account>>;
  create(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'POST',
      fullPath: '/v2/core/accounts',
    }).call(this, ...args);
  }

  /**
   * Retrieves the details of an Account.
   */
  retrieve(
    id: string,
    params?: V2.Core.AccountRetrieveParams,
    options?: RequestOptions
  ): Promise<Response<Account>>;
  retrieve(id: string, options?: RequestOptions): Promise<Response<Account>>;
  retrieve(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'GET',
      fullPath: '/v2/core/accounts/{id}',
    }).call(this, ...args);
  }

  /**
   * Updates the details of an Account.
   */
  update(
    id: string,
    params?: V2.Core.AccountUpdateParams,
    options?: RequestOptions
  ): Promise<Response<Account>>;
  update(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'POST',
      fullPath: '/v2/core/accounts/{id}',
    }).call(this, ...args);
  }

  /**
   * Removes access to the Account and its associated resources. Closed Accounts can no longer be operated on, but limited information can still be retrieved through the API in order to be able to track their history.
   */
  close(
    id: string,
    params?: V2.Core.AccountCloseParams,
    options?: RequestOptions
  ): Promise<Response<Account>>;
  close(id: string, options?: RequestOptions): Promise<Response<Account>>;
  close(...args: any[]): Promise<Response<any>> {
    return stripeMethod({
      method: 'POST',
      fullPath: '/v2/core/accounts/{id}/close',
    }).call(this, ...args);
  }
}
export interface Account {
  /**
   * Unique identifier for the Account.
   */
  id: string;

  /**
   * String representing the object's type. Objects of the same type share the same value of the object field.
   */
  object: 'v2.core.account';

  /**
   * The configurations that have been applied to this account.
   */
  applied_configurations: Array<V2.Core.Account.AppliedConfiguration>;

  /**
   * Indicates whether the account has been closed.
   */
  closed?: boolean;

  /**
   * An Account represents a company, individual, or other entity that a user interacts with. Accounts store identity information and one or more configurations that enable product-specific capabilities. You can assign configurations at creation or add them later.
   */
  configuration?: V2.Core.Account.Configuration;

  /**
   * The default contact email address for the Account. Required when configuring the account as a merchant or recipient.
   */
  contact_email?: string;

  /**
   * Time at which the object was created. Represented as a RFC 3339 date & time UTC value in millisecond precision, for example: 2022-09-18T13:22:18.123Z.
   */
  created: string;

  /**
   * A value indicating the Stripe dashboard this Account has access to. This will depend on which configurations are enabled for this account.
   */
  dashboard?: V2.Core.Account.Dashboard;

  /**
   * Default values for settings shared across Account configurations.
   */
  defaults?: V2.Core.Account.Defaults;

  /**
   * A descriptive name for the Account. This name will be surfaced in the Stripe Dashboard and on any invoices sent to the Account.
   */
  display_name?: string;

  /**
   * Information about the future requirements for the Account that will eventually come into effect, including what information needs to be collected, and by when.
   */
  future_requirements?: V2.Core.Account.FutureRequirements;

  /**
   * Information about the company, individual, and business represented by the Account.
   */
  identity?: V2.Core.Account.Identity;

  /**
   * Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
   */
  livemode: boolean;

  /**
   * Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
   */
  metadata?: Metadata;

  /**
   * Information about the active requirements for the Account, including what information needs to be collected, and by when.
   */
  requirements?: V2.Core.Account.Requirements;
}
export namespace V2 {
  export namespace Core {
    export namespace Account {
      export type AppliedConfiguration = 'customer' | 'merchant' | 'recipient';

      export interface Configuration {
        /**
         * The Customer Configuration allows the Account to be used in inbound payment flows.
         */
        customer?: Configuration.Customer;

        /**
         * Enables the Account to act as a connected account and collect payments facilitated by a Connect platform. You must onboard your platform to Connect before you can add this configuration to your connected accounts. Utilize this configuration when the Account will be the Merchant of Record, like with Direct charges or Destination Charges with on_behalf_of set.
         */
        merchant?: Configuration.Merchant;

        /**
         * The Recipient Configuration allows the Account to receive funds. Utilize this configuration if the Account will not be the Merchant of Record, like with Separate Charges & Transfers, or Destination Charges without on_behalf_of set.
         */
        recipient?: Configuration.Recipient;
      }

      export type Dashboard = 'express' | 'full' | 'none';

      export interface Defaults {
        /**
         * Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
         */
        currency?: string;

        /**
         * The Account's preferred locales (languages), ordered by preference.
         */
        locales?: Array<Defaults.Locale>;

        /**
         * Account profile information.
         */
        profile?: Defaults.Profile;

        /**
         * Default responsibilities held by either Stripe or the platform.
         */
        responsibilities: Defaults.Responsibilities;
      }

      export interface FutureRequirements {
        /**
         * A list of requirements for the Account.
         */
        entries?: Array<FutureRequirements.Entry>;

        /**
         * The time at which the future requirements become effective.
         */
        minimum_transition_date?: string;

        /**
         * An object containing an overview of requirements for the Account.
         */
        summary?: FutureRequirements.Summary;
      }

      export interface Identity {
        /**
         * Attestations from the identity's key people, e.g. owners, executives, directors, representatives.
         */
        attestations?: Identity.Attestations;

        /**
         * Information about the company or business.
         */
        business_details?: Identity.BusinessDetails;

        /**
         * The country in which the account holder resides, or in which the business is legally established. This should be an [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code.
         */
        country?: string;

        /**
         * The entity type.
         */
        entity_type?: Identity.EntityType;

        /**
         * Information about the individual represented by the Account. This property is `null` unless `entity_type` is set to `individual`.
         */
        individual?: Identity.Individual;
      }

      export interface Requirements {
        /**
         * A list of requirements for the Account.
         */
        entries?: Array<Requirements.Entry>;

        /**
         * An object containing an overview of requirements for the Account.
         */
        summary?: Requirements.Summary;
      }

      export namespace Configuration {
        export interface Customer {
          /**
           * Indicates whether the customer configuration is active. You can deactivate or reactivate the customer configuration by updating this property. Deactivating the configuration by setting this value to false will unrequest all capabilities within the configuration. It will not delete any of the configuration's other properties.
           */
          applied: boolean;

          /**
           * Settings for automatic indirect tax calculation on the customer's invoices, subscriptions, Checkout Sessions, and Payment Links. Available when automatic tax calculation is available for the customer account's location.
           */
          automatic_indirect_tax?: Customer.AutomaticIndirectTax;

          /**
           * Default Billing settings for the customer account, used in Invoices and Subscriptions.
           */
          billing?: Customer.Billing;

          /**
           * Capabilities that have been requested on the Customer Configuration.
           */
          capabilities?: Customer.Capabilities;

          /**
           * The customer's shipping information. Appears on invoices emailed to this customer.
           */
          shipping?: Customer.Shipping;

          /**
           * ID of the test clock to attach to the customer. Can only be set on testmode Accounts, and when the Customer Configuration is first set on an Account.
           */
          test_clock?: string;
        }

        export interface Merchant {
          /**
           * Indicates whether the merchant configuration is active. You can deactivate or reactivate the merchant configuration by updating this property. Deactivating the configuration by setting this value to false doesn't delete the configuration's properties.
           */
          applied: boolean;

          /**
           * Settings for Bacs Direct Debit payments.
           */
          bacs_debit_payments?: Merchant.BacsDebitPayments;

          /**
           * Settings used to apply the merchant's branding to email receipts, invoices, Checkout, and other products.
           */
          branding?: Merchant.Branding;

          /**
           * Capabilities that have been requested on the Merchant Configuration.
           */
          capabilities?: Merchant.Capabilities;

          /**
           * Card payments settings.
           */
          card_payments?: Merchant.CardPayments;

          /**
           * Settings specific to Konbini payments on the account.
           */
          konbini_payments?: Merchant.KonbiniPayments;

          /**
           * The Merchant Category Code (MCC) for the merchant. MCCs classify businesses based on the goods or services they provide.
           */
          mcc?: string;

          /**
           * Settings for the default text that appears on statements for language variations.
           */
          script_statement_descriptor?: Merchant.ScriptStatementDescriptor;

          /**
           * Settings for SEPA Direct Debit payments.
           */
          sepa_debit_payments?: Merchant.SepaDebitPayments;

          /**
           * Statement descriptor.
           */
          statement_descriptor?: Merchant.StatementDescriptor;

          /**
           * Publicly available contact information for sending support issues to.
           */
          support?: Merchant.Support;
        }

        export interface Recipient {
          /**
           * Indicates whether the recipient configuration is active. You can deactivate or reactivate the recipient configuration by updating this property. Deactivating the configuration by setting this value to false  unrequest all capabilities within the configuration. It will not delete any of the configuration's other properties.
           */
          applied: boolean;

          /**
           * Capabilities that have been requested on the Recipient Configuration.
           */
          capabilities?: Recipient.Capabilities;
        }

        export namespace Customer {
          export interface AutomaticIndirectTax {
            /**
             * The customer account's tax exemption status: `none`, `exempt`, or `reverse`. When `reverse`, invoice and receipt PDFs include "Reverse charge".
             */
            exempt?: AutomaticIndirectTax.Exempt;

            /**
             * A recent IP address of the customer used for tax reporting and tax location inference.
             */
            ip_address?: string;

            /**
             * The customer account's identified tax location, derived from `location_source`. Only rendered if the `automatic_indirect_tax` feature is requested and `active`.
             */
            location?: AutomaticIndirectTax.Location;

            /**
             * Data source used to identify the customer account's tax location. Defaults to `identity_address`. Used for automatic indirect tax calculation.
             */
            location_source?: AutomaticIndirectTax.LocationSource;
          }

          export interface Billing {
            /**
             * ID of a PaymentMethod attached to the customer account to use as the default for invoices and subscriptions.
             */
            default_payment_method?: string;

            /**
             * Default invoice settings for the customer account.
             */
            invoice?: Billing.Invoice;
          }

          export interface Capabilities {
            /**
             * Generates requirements for enabling automatic indirect tax calculation on this customer's invoices or subscriptions. Recommended to request this capability if planning to enable automatic tax calculation on this customer's invoices or subscriptions.
             */
            automatic_indirect_tax?: Capabilities.AutomaticIndirectTax;
          }

          export interface Shipping {
            /**
             * Customer shipping address.
             */
            address?: Shipping.Address;

            /**
             * Customer name.
             */
            name?: string;

            /**
             * Customer phone (including extension).
             */
            phone?: string;
          }

          export namespace AutomaticIndirectTax {
            export type Exempt = 'exempt' | 'none' | 'reverse';

            export interface Location {
              /**
               * The identified tax country of the customer.
               */
              country?: string;

              /**
               * The identified tax state, county, province, or region of the customer.
               */
              state?: string;
            }

            export type LocationSource =
              | 'identity_address'
              | 'ip_address'
              | 'payment_method'
              | 'shipping_address';
          }

          export namespace Billing {
            export interface Invoice {
              /**
               * The list of up to 4 default custom fields to be displayed on invoices for this customer. When updating, pass an empty string to remove previously-defined fields.
               */
              custom_fields: Array<Invoice.CustomField>;

              /**
               * Default invoice footer.
               */
              footer?: string;

              /**
               * Sequence number to use on the customer account's next invoice. Defaults to 1.
               */
              next_sequence?: number;

              /**
               * Prefix used to generate unique invoice numbers. Must be 3-12 uppercase letters or numbers.
               */
              prefix?: string;

              /**
               * Default invoice PDF rendering options.
               */
              rendering?: Invoice.Rendering;
            }

            export namespace Invoice {
              export interface CustomField {
                /**
                 * The name of the custom field. This may be up to 40 characters.
                 */
                name: string;

                /**
                 * The value of the custom field. This may be up to 140 characters. When updating, pass an empty string to remove previously-defined values.
                 */
                value: string;
              }

              export interface Rendering {
                /**
                 * Indicates whether displayed line item prices and amounts on invoice PDFs include inclusive tax amounts. Must be either `include_inclusive_tax` or `exclude_tax`.
                 */
                amount_tax_display?: Rendering.AmountTaxDisplay;

                /**
                 * ID of the invoice rendering template to use for future invoices.
                 */
                template?: string;
              }

              export namespace Rendering {
                export type AmountTaxDisplay =
                  | 'exclude_tax'
                  | 'include_inclusive_tax';
              }
            }
          }

          export namespace Capabilities {
            export interface AutomaticIndirectTax {
              /**
               * The status of the Capability.
               */
              status: AutomaticIndirectTax.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AutomaticIndirectTax.StatusDetail>;
            }

            export namespace AutomaticIndirectTax {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }
          }

          export namespace Shipping {
            export interface Address {
              /**
               * City, district, suburb, town, or village.
               */
              city?: string;

              /**
               * Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)).
               */
              country?: string;

              /**
               * Address line 1 (e.g., street, PO Box, or company name).
               */
              line1?: string;

              /**
               * Address line 2 (e.g., apartment, suite, unit, or building).
               */
              line2?: string;

              /**
               * ZIP or postal code.
               */
              postal_code?: string;

              /**
               * State, county, province, or region.
               */
              state?: string;
            }
          }
        }

        export namespace Merchant {
          export interface BacsDebitPayments {
            /**
             * Display name for Bacs Direct Debit payments.
             */
            display_name?: string;

            /**
             * Service User Number (SUN) for Bacs Direct Debit payments.
             */
            service_user_number?: string;
          }

          export interface Branding {
            /**
             * ID of a [file upload](https://docs.stripe.com/api/persons/update#create_file): An icon for the merchant. Must be square and at least 128px x 128px.
             */
            icon?: string;

            /**
             * ID of a [file upload](https://docs.stripe.com/api/persons/update#create_file): A logo for the merchant that will be used in Checkout instead of the icon and without the merchant's name next to it if provided. Must be at least 128px x 128px.
             */
            logo?: string;

            /**
             * A CSS hex color value representing the primary branding color for the merchant.
             */
            primary_color?: string;

            /**
             * A CSS hex color value representing the secondary branding color for the merchant.
             */
            secondary_color?: string;
          }

          export interface Capabilities {
            /**
             * Allow the merchant to process ACH debit payments.
             */
            ach_debit_payments?: Capabilities.AchDebitPayments;

            /**
             * Allow the merchant to process ACSS debit payments.
             */
            acss_debit_payments?: Capabilities.AcssDebitPayments;

            /**
             * Allow the merchant to process Affirm payments.
             */
            affirm_payments?: Capabilities.AffirmPayments;

            /**
             * Allow the merchant to process Afterpay/Clearpay payments.
             */
            afterpay_clearpay_payments?: Capabilities.AfterpayClearpayPayments;

            /**
             * Allow the merchant to process Alma payments.
             */
            alma_payments?: Capabilities.AlmaPayments;

            /**
             * Allow the merchant to process Amazon Pay payments.
             */
            amazon_pay_payments?: Capabilities.AmazonPayPayments;

            /**
             * Allow the merchant to process Australian BECS Direct Debit payments.
             */
            au_becs_debit_payments?: Capabilities.AuBecsDebitPayments;

            /**
             * Allow the merchant to process BACS Direct Debit payments.
             */
            bacs_debit_payments?: Capabilities.BacsDebitPayments;

            /**
             * Allow the merchant to process Bancontact payments.
             */
            bancontact_payments?: Capabilities.BancontactPayments;

            /**
             * Allow the merchant to process BLIK payments.
             */
            blik_payments?: Capabilities.BlikPayments;

            /**
             * Allow the merchant to process Boleto payments.
             */
            boleto_payments?: Capabilities.BoletoPayments;

            /**
             * Allow the merchant to collect card payments.
             */
            card_payments?: Capabilities.CardPayments;

            /**
             * Allow the merchant to process Cartes Bancaires payments.
             */
            cartes_bancaires_payments?: Capabilities.CartesBancairesPayments;

            /**
             * Allow the merchant to process Cash App payments.
             */
            cashapp_payments?: Capabilities.CashappPayments;

            /**
             * Allow the merchant to process EPS payments.
             */
            eps_payments?: Capabilities.EpsPayments;

            /**
             * Allow the merchant to process FPX payments.
             */
            fpx_payments?: Capabilities.FpxPayments;

            /**
             * Allow the merchant to process UK bank transfer payments.
             */
            gb_bank_transfer_payments?: Capabilities.GbBankTransferPayments;

            /**
             * Allow the merchant to process GrabPay payments.
             */
            grabpay_payments?: Capabilities.GrabpayPayments;

            /**
             * Allow the merchant to process iDEAL payments.
             */
            ideal_payments?: Capabilities.IdealPayments;

            /**
             * Allow the merchant to process JCB card payments.
             */
            jcb_payments?: Capabilities.JcbPayments;

            /**
             * Allow the merchant to process Japanese bank transfer payments.
             */
            jp_bank_transfer_payments?: Capabilities.JpBankTransferPayments;

            /**
             * Allow the merchant to process Kakao Pay payments.
             */
            kakao_pay_payments?: Capabilities.KakaoPayPayments;

            /**
             * Allow the merchant to process Klarna payments.
             */
            klarna_payments?: Capabilities.KlarnaPayments;

            /**
             * Allow the merchant to process Konbini convenience store payments.
             */
            konbini_payments?: Capabilities.KonbiniPayments;

            /**
             * Allow the merchant to process Korean card payments.
             */
            kr_card_payments?: Capabilities.KrCardPayments;

            /**
             * Allow the merchant to process Link payments.
             */
            link_payments?: Capabilities.LinkPayments;

            /**
             * Allow the merchant to process MobilePay payments.
             */
            mobilepay_payments?: Capabilities.MobilepayPayments;

            /**
             * Allow the merchant to process Multibanco payments.
             */
            multibanco_payments?: Capabilities.MultibancoPayments;

            /**
             * Allow the merchant to process Mexican bank transfer payments.
             */
            mx_bank_transfer_payments?: Capabilities.MxBankTransferPayments;

            /**
             * Allow the merchant to process Naver Pay payments.
             */
            naver_pay_payments?: Capabilities.NaverPayPayments;

            /**
             * Allow the merchant to process OXXO payments.
             */
            oxxo_payments?: Capabilities.OxxoPayments;

            /**
             * Allow the merchant to process Przelewy24 (P24) payments.
             */
            p24_payments?: Capabilities.P24Payments;

            /**
             * Allow the merchant to process Pay by Bank payments.
             */
            pay_by_bank_payments?: Capabilities.PayByBankPayments;

            /**
             * Allow the merchant to process PAYCO payments.
             */
            payco_payments?: Capabilities.PaycoPayments;

            /**
             * Allow the merchant to process PayNow payments.
             */
            paynow_payments?: Capabilities.PaynowPayments;

            /**
             * Allow the merchant to process PromptPay payments.
             */
            promptpay_payments?: Capabilities.PromptpayPayments;

            /**
             * Allow the merchant to process Revolut Pay payments.
             */
            revolut_pay_payments?: Capabilities.RevolutPayPayments;

            /**
             * Allow the merchant to process Samsung Pay payments.
             */
            samsung_pay_payments?: Capabilities.SamsungPayPayments;

            /**
             * Allow the merchant to process SEPA bank transfer payments.
             */
            sepa_bank_transfer_payments?: Capabilities.SepaBankTransferPayments;

            /**
             * Allow the merchant to process SEPA Direct Debit payments.
             */
            sepa_debit_payments?: Capabilities.SepaDebitPayments;

            /**
             * Capabilities that enable the merchant to manage their Stripe Balance (/v1/balance).
             */
            stripe_balance?: Capabilities.StripeBalance;

            /**
             * Allow the merchant to process Swish payments.
             */
            swish_payments?: Capabilities.SwishPayments;

            /**
             * Allow the merchant to process TWINT payments.
             */
            twint_payments?: Capabilities.TwintPayments;

            /**
             * Allow the merchant to process US bank transfer payments.
             */
            us_bank_transfer_payments?: Capabilities.UsBankTransferPayments;

            /**
             * Allow the merchant to process Zip payments.
             */
            zip_payments?: Capabilities.ZipPayments;
          }

          export interface CardPayments {
            /**
             * Automatically declines certain charge types regardless of whether the card issuer accepted or declined the charge.
             */
            decline_on?: CardPayments.DeclineOn;
          }

          export interface KonbiniPayments {
            /**
             * Support for Konbini payments.
             */
            support?: KonbiniPayments.Support;
          }

          export interface ScriptStatementDescriptor {
            /**
             * The Kana variation of statement_descriptor used for charges in Japan. Japanese statement descriptors have [special requirements](https://docs.stripe.com/get-started/account/statement-descriptors#set-japanese-statement-descriptors).
             */
            kana?: ScriptStatementDescriptor.Kana;

            /**
             * The Kanji variation of statement_descriptor used for charges in Japan. Japanese statement descriptors have [special requirements](https://docs.stripe.com/get-started/account/statement-descriptors#set-japanese-statement-descriptors).
             */
            kanji?: ScriptStatementDescriptor.Kanji;
          }

          export interface SepaDebitPayments {
            /**
             * Creditor ID for SEPA Direct Debit payments.
             */
            creditor_id?: string;
          }

          export interface StatementDescriptor {
            /**
             * The default text that appears on statements for non-card charges outside of Japan. For card charges, if you don't set a statement_descriptor_prefix, this text is also used as the statement descriptor prefix. In that case, if concatenating the statement descriptor suffix causes the combined statement descriptor to exceed 22 characters, we truncate the statement_descriptor text to limit the full descriptor to 22 characters. For more information about statement descriptors and their requirements, see the Merchant Configuration settings documentation.
             */
            descriptor?: string;

            /**
             * Default text that appears on statements for card charges outside of Japan, prefixing any dynamic statement_descriptor_suffix specified on the charge. To maximize space for the dynamic part of the descriptor, keep this text short. If you don't specify this value, statement_descriptor is used as the prefix. For more information about statement descriptors and their requirements, see the Merchant Configuration settings documentation.
             */
            prefix?: string;
          }

          export interface Support {
            /**
             * A publicly available mailing address for sending support issues to.
             */
            address?: Support.Address;

            /**
             * A publicly available email address for sending support issues to.
             */
            email?: string;

            /**
             * A publicly available phone number to call with support issues.
             */
            phone?: string;

            /**
             * A publicly available website for handling support issues.
             */
            url?: string;
          }

          export namespace Capabilities {
            export interface AchDebitPayments {
              /**
               * The status of the Capability.
               */
              status: AchDebitPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AchDebitPayments.StatusDetail>;
            }

            export interface AcssDebitPayments {
              /**
               * The status of the Capability.
               */
              status: AcssDebitPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AcssDebitPayments.StatusDetail>;
            }

            export interface AffirmPayments {
              /**
               * The status of the Capability.
               */
              status: AffirmPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AffirmPayments.StatusDetail>;
            }

            export interface AfterpayClearpayPayments {
              /**
               * The status of the Capability.
               */
              status: AfterpayClearpayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AfterpayClearpayPayments.StatusDetail>;
            }

            export interface AlmaPayments {
              /**
               * The status of the Capability.
               */
              status: AlmaPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AlmaPayments.StatusDetail>;
            }

            export interface AmazonPayPayments {
              /**
               * The status of the Capability.
               */
              status: AmazonPayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AmazonPayPayments.StatusDetail>;
            }

            export interface AuBecsDebitPayments {
              /**
               * The status of the Capability.
               */
              status: AuBecsDebitPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<AuBecsDebitPayments.StatusDetail>;
            }

            export interface BacsDebitPayments {
              /**
               * The status of the Capability.
               */
              status: BacsDebitPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<BacsDebitPayments.StatusDetail>;
            }

            export interface BancontactPayments {
              /**
               * The status of the Capability.
               */
              status: BancontactPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<BancontactPayments.StatusDetail>;
            }

            export interface BlikPayments {
              /**
               * The status of the Capability.
               */
              status: BlikPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<BlikPayments.StatusDetail>;
            }

            export interface BoletoPayments {
              /**
               * The status of the Capability.
               */
              status: BoletoPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<BoletoPayments.StatusDetail>;
            }

            export interface CardPayments {
              /**
               * The status of the Capability.
               */
              status: CardPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<CardPayments.StatusDetail>;
            }

            export interface CartesBancairesPayments {
              /**
               * The status of the Capability.
               */
              status: CartesBancairesPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<CartesBancairesPayments.StatusDetail>;
            }

            export interface CashappPayments {
              /**
               * The status of the Capability.
               */
              status: CashappPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<CashappPayments.StatusDetail>;
            }

            export interface EpsPayments {
              /**
               * The status of the Capability.
               */
              status: EpsPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<EpsPayments.StatusDetail>;
            }

            export interface FpxPayments {
              /**
               * The status of the Capability.
               */
              status: FpxPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<FpxPayments.StatusDetail>;
            }

            export interface GbBankTransferPayments {
              /**
               * The status of the Capability.
               */
              status: GbBankTransferPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<GbBankTransferPayments.StatusDetail>;
            }

            export interface GrabpayPayments {
              /**
               * The status of the Capability.
               */
              status: GrabpayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<GrabpayPayments.StatusDetail>;
            }

            export interface IdealPayments {
              /**
               * The status of the Capability.
               */
              status: IdealPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<IdealPayments.StatusDetail>;
            }

            export interface JcbPayments {
              /**
               * The status of the Capability.
               */
              status: JcbPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<JcbPayments.StatusDetail>;
            }

            export interface JpBankTransferPayments {
              /**
               * The status of the Capability.
               */
              status: JpBankTransferPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<JpBankTransferPayments.StatusDetail>;
            }

            export interface KakaoPayPayments {
              /**
               * The status of the Capability.
               */
              status: KakaoPayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<KakaoPayPayments.StatusDetail>;
            }

            export interface KlarnaPayments {
              /**
               * The status of the Capability.
               */
              status: KlarnaPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<KlarnaPayments.StatusDetail>;
            }

            export interface KonbiniPayments {
              /**
               * The status of the Capability.
               */
              status: KonbiniPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<KonbiniPayments.StatusDetail>;
            }

            export interface KrCardPayments {
              /**
               * The status of the Capability.
               */
              status: KrCardPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<KrCardPayments.StatusDetail>;
            }

            export interface LinkPayments {
              /**
               * The status of the Capability.
               */
              status: LinkPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<LinkPayments.StatusDetail>;
            }

            export interface MobilepayPayments {
              /**
               * The status of the Capability.
               */
              status: MobilepayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<MobilepayPayments.StatusDetail>;
            }

            export interface MultibancoPayments {
              /**
               * The status of the Capability.
               */
              status: MultibancoPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<MultibancoPayments.StatusDetail>;
            }

            export interface MxBankTransferPayments {
              /**
               * The status of the Capability.
               */
              status: MxBankTransferPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<MxBankTransferPayments.StatusDetail>;
            }

            export interface NaverPayPayments {
              /**
               * The status of the Capability.
               */
              status: NaverPayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<NaverPayPayments.StatusDetail>;
            }

            export interface OxxoPayments {
              /**
               * The status of the Capability.
               */
              status: OxxoPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<OxxoPayments.StatusDetail>;
            }

            export interface P24Payments {
              /**
               * The status of the Capability.
               */
              status: P24Payments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<P24Payments.StatusDetail>;
            }

            export interface PayByBankPayments {
              /**
               * The status of the Capability.
               */
              status: PayByBankPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<PayByBankPayments.StatusDetail>;
            }

            export interface PaycoPayments {
              /**
               * The status of the Capability.
               */
              status: PaycoPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<PaycoPayments.StatusDetail>;
            }

            export interface PaynowPayments {
              /**
               * The status of the Capability.
               */
              status: PaynowPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<PaynowPayments.StatusDetail>;
            }

            export interface PromptpayPayments {
              /**
               * The status of the Capability.
               */
              status: PromptpayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<PromptpayPayments.StatusDetail>;
            }

            export interface RevolutPayPayments {
              /**
               * The status of the Capability.
               */
              status: RevolutPayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<RevolutPayPayments.StatusDetail>;
            }

            export interface SamsungPayPayments {
              /**
               * The status of the Capability.
               */
              status: SamsungPayPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<SamsungPayPayments.StatusDetail>;
            }

            export interface SepaBankTransferPayments {
              /**
               * The status of the Capability.
               */
              status: SepaBankTransferPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<SepaBankTransferPayments.StatusDetail>;
            }

            export interface SepaDebitPayments {
              /**
               * The status of the Capability.
               */
              status: SepaDebitPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<SepaDebitPayments.StatusDetail>;
            }

            export interface StripeBalance {
              /**
               * Enables this Account to complete payouts from their Stripe Balance (/v1/balance).
               */
              payouts?: StripeBalance.Payouts;
            }

            export interface SwishPayments {
              /**
               * The status of the Capability.
               */
              status: SwishPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<SwishPayments.StatusDetail>;
            }

            export interface TwintPayments {
              /**
               * The status of the Capability.
               */
              status: TwintPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<TwintPayments.StatusDetail>;
            }

            export interface UsBankTransferPayments {
              /**
               * The status of the Capability.
               */
              status: UsBankTransferPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<UsBankTransferPayments.StatusDetail>;
            }

            export interface ZipPayments {
              /**
               * The status of the Capability.
               */
              status: ZipPayments.Status;

              /**
               * Additional details about the capability's status. This value is empty when `status` is `active`.
               */
              status_details: Array<ZipPayments.StatusDetail>;
            }

            export namespace AchDebitPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AcssDebitPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AffirmPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AfterpayClearpayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AlmaPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AmazonPayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace AuBecsDebitPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace BacsDebitPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace BancontactPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace BlikPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace BoletoPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace CardPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace CartesBancairesPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace CashappPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace EpsPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace FpxPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace GbBankTransferPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace GrabpayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace IdealPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace JcbPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace JpBankTransferPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace KakaoPayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace KlarnaPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace KonbiniPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace KrCardPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace LinkPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace MobilepayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace MultibancoPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace MxBankTransferPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace NaverPayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace OxxoPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace P24Payments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace PayByBankPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace PaycoPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace PaynowPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace PromptpayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace RevolutPayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace SamsungPayPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace SepaBankTransferPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace SepaDebitPayments {
              export type Status =
                | 'active'
                | 'pending'
                | 'restricted'
                | 'unsupported';

              export interface StatusDetail {
                /**
                 * Machine-readable code explaining the reason for the Capability to be in its current status.
                 */
                code: StatusDetail.Code;

                /**
                 * Machine-readable code explaining how to make the Capability active.
                 */
                resolution: StatusDetail.Resolution;
              }

              export namespace StatusDetail {
                export type Code =
                  | 'determining_status'
                  | 'requirements_past_due'
                  | 'requirements_pending_verification'
                  | 'restricted_other'
                  | 'unsupported_business'
                  | 'unsupported_country'
                  | 'unsupported_entity_type';

                export type Resolution =
                  | 'contact_stripe'
                  | 'no_resolution'
                  | 'provide_info';
              }
            }

            export namespace StripeBalance {
              export interface Payouts {
                /**
                 * The status of the Capability.
                 */
                status: Payouts.Status;

                /**
                 * Additional details about the capability's status. This value is empty when `status` is `active`.
                 */
                status_details: Array<Payouts.StatusDetail>;
              }

[...]
