// File generated from our OpenAPI spec

import {StripeResource} from '../../../StripeResource.js';
import {RangeQueryParam, Decimal} from '../../../shared.js';
import {RequestOptions, ApiListPromise, Response} from '../../../lib.js';

export class EventResource extends StripeResource {
  /**
   * List events, going back up to 30 days.
   */
  list(
    params?: V2.Core.EventListParams,
    options?: RequestOptions
  ): ApiListPromise<Event> {
    const transformResponseData = (response: any): any => {
      return {
        ...response,
        data: response.data.map(this.addFetchRelatedObjectIfNeeded.bind(this)),
      };
    };
    return this._makeRequest('GET', '/v2/core/events', params, options, {
      methodType: 'list',
      transformResponseData: transformResponseData,
    }) as any;
  }
  /**
   * Retrieves the details of an event.
   */
  retrieve(
    id: string,
    params?: V2.Core.EventRetrieveParams,
    options?: RequestOptions
  ): Promise<Response<Event>> {
    const transformResponseData = (response: any): any => {
      return this.addFetchRelatedObjectIfNeeded(response);
    };
    return this._makeRequest('GET', `/v2/core/events/${id}`, params, options, {
      transformResponseData: transformResponseData,
    }) as any;
  }
  /**
   * @private
   *
   * For internal use in stripe-node.
   *
   * @param pulledEvent The retrieved event object
   * @returns The retrieved event object with a fetchRelatedObject method,
   * if pulledEvent.related_object is valid (non-null and has a url)
   */
  addFetchRelatedObjectIfNeeded(pulledEvent: any): any {
    if (!pulledEvent.related_object || !pulledEvent.related_object.url) {
      return pulledEvent;
    }
    return {
      ...pulledEvent,
      fetchRelatedObject: (): Promise<null | any> =>
        this._makeRequest('GET', pulledEvent.related_object.url, undefined, {
          stripeContext: pulledEvent.context,
          headers: {
            'Stripe-Request-Trigger': `event=${pulledEvent.id}`,
          },
        }),
    };
  }
}
export interface EventBase {
  /**
   * Unique identifier for the event.
   */
  id: string;

  /**
   * String representing the object's type. Objects of the same type share the same value of the object field.
   */
  object: 'v2.core.event';

  /**
   * Before and after changes for the primary related object.
   */
  changes?: V2.Core.Event.Changes;

  /**
   * Authentication context needed to fetch the event or related object.
   */
  context?: string;

  /**
   * Time at which the object was created.
   */
  created: string;

  /**
   * Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode.
   */
  livemode: boolean;

  /**
   * Reason for the event.
   */
  reason?: V2.Core.Event.Reason;

  /**
   * For interop events, this is the snapshot event ID.
   */
  snapshot_event?: string;

  /**
   * The type of the event.
   */
  type: string;
}
export namespace V2 {
  export namespace Core {
    export namespace Event {
      export type Changes = {
        [key: string]: unknown;
      };

      export interface Reason {
        /**
         * Information on the API request that instigated the event.
         */
        request?: Reason.Request;

        /**
         * Event reason type.
         */
        type: 'request';
      }

      export namespace Reason {
        export interface Request {
          /**
           * The client details that made the request.
           */
          client?: Request.Client;

          /**
           * ID of the API request that caused the event.
           */
          id: string;

          /**
           * The idempotency key transmitted during the request.
           */
          idempotency_key: string;
        }

        export namespace Request {
          export interface Client {
            /**
             * API key that triggered the event.
             */
            api_key?: Client.ApiKey;

            /**
             * Dashboard user that triggered the event.
             */
            dashboard_user?: Client.DashboardUser;

            /**
             * Stripe action that triggered the event.
             */
            stripe_action?: Client.StripeAction;

            /**
             * The type of the client.
             */
            type: Client.Type;
          }

          export namespace Client {
            export interface ApiKey {
              /**
               * The ID of the API key.
               */
              id: string;
            }

            export interface DashboardUser {
              /**
               * The email of the dashboard user.
               */
              email: string;

              /**
               * The IP address of the user.
               */
              ip_address: string;

              /**
               * The machine identifier of the user.
               */
              machine_identifier: string;
            }

            export interface StripeAction {}

            export type Type = 'api_key' | 'dashboard_user' | 'stripe_action';
          }
        }
      }
    }
  }
}
export namespace V2 {
  export namespace Core {
    export interface EventRetrieveParams {
      /**
       * Additional fields to include in the response.
       */
      include?: Array<'reason.request.client'>;
    }
  }
}
export namespace V2 {
  export namespace Core {
    export interface EventListParams {
      /**
       * Set of filters to query events within a range of `created` timestamps.
       */
      created?: RangeQueryParam;

      /**
       * Additional fields to include in the response.
       */
      include?: Array<'reason.request.client'>;

      /**
       * The page size.
       */
      limit?: number;

      /**
       * Primary object ID used to retrieve related events.
       */
      object_id?: string;

      /**
       * An array of up to 20 strings containing specific event names.
       */
      types?: Array<string>;
    }
  }
}
import {Core} from './index.js';
import {Billing as V1Billing} from './../../Billing/index.js';
import {BillingPortal as V1BillingPortal} from './../../BillingPortal/index.js';
import {Checkout as V1Checkout} from './../../Checkout/index.js';
import {Climate as V1Climate} from './../../Climate/index.js';
import {FinancialConnections as V1FinancialConnections} from './../../FinancialConnections/index.js';
import {Identity as V1Identity} from './../../Identity/index.js';
import {Issuing as V1Issuing} from './../../Issuing/index.js';
import {Radar as V1Radar} from './../../Radar/index.js';
import {Sigma as V1Sigma} from './../../Sigma/index.js';
import {Tax as V1Tax} from './../../Tax/index.js';
import {Terminal as V1Terminal} from './../../Terminal/index.js';
import {TestHelpers as V1TestHelpers} from './../../TestHelpers/index.js';
import {Account as V1Account} from './../../Accounts.js';
import {ApplicationFee as V1ApplicationFee} from './../../ApplicationFees.js';
import {FeeRefund as V1FeeRefund} from './../../FeeRefunds.js';
import {Balance as V1Balance} from './../../Balance.js';
import {Capability as V1Capability} from './../../Capabilities.js';
import {CashBalance as V1CashBalance} from './../../CashBalances.js';
import {Charge as V1Charge} from './../../Charges.js';
import {Dispute as V1Dispute} from './../../Disputes.js';
import {Refund as V1Refund} from './../../Refunds.js';
import {Coupon as V1Coupon} from './../../Coupons.js';
import {CreditNote as V1CreditNote} from './../../CreditNotes.js';
import {Customer as V1Customer} from './../../Customers.js';
import {Subscription as V1Subscription} from './../../Subscriptions.js';
import {TaxId as V1TaxId} from './../../TaxIds.js';
import {CustomerCashBalanceTransaction as V1CustomerCashBalanceTransaction} from './../../CustomerCashBalanceTransactions.js';
import {File as V1File} from './../../Files.js';
import {Invoice as V1Invoice} from './../../Invoices.js';
import {InvoicePayment as V1InvoicePayment} from './../../InvoicePayments.js';
import {InvoiceItem as V1InvoiceItem} from './../../InvoiceItems.js';
import {Mandate as V1Mandate} from './../../Mandates.js';
import {PaymentIntent as V1PaymentIntent} from './../../PaymentIntents.js';
import {PaymentLink as V1PaymentLink} from './../../PaymentLinks.js';
import {PaymentMethod as V1PaymentMethod} from './../../PaymentMethods.js';
import {Payout as V1Payout} from './../../Payouts.js';
import {Person as V1Person} from './../../Persons.js';
import {Plan as V1Plan} from './../../Plans.js';
import {Price as V1Price} from './../../Prices.js';
import {Product as V1Product} from './../../Products.js';
import {PromotionCode as V1PromotionCode} from './../../PromotionCodes.js';
import {Quote as V1Quote} from './../../Quotes.js';
import {Review as V1Review} from './../../Reviews.js';
import {SetupIntent as V1SetupIntent} from './../../SetupIntents.js';
import {Source as V1Source} from './../../Sources.js';
import {SubscriptionSchedule as V1SubscriptionSchedule} from './../../SubscriptionSchedules.js';
import {TaxRate as V1TaxRate} from './../../TaxRates.js';
import {Topup as V1Topup} from './../../Topups.js';
import {Transfer as V1Transfer} from './../../Transfers.js';
import {Billing} from './../Billing/index.js';
import {Commerce} from './../Commerce/index.js';
import {Data} from './../Data/index.js';
import {Extend} from './../Extend/index.js';
import {MoneyManagement} from './../MoneyManagement/index.js';
import {OrchestratedCommerce} from './../OrchestratedCommerce/index.js';
import {Payments} from './../Payments/index.js';
import {Reporting} from './../Reporting/index.js';
export type Event =
  | V1AccountApplicationAuthorizedEvent
  | V1AccountApplicationDeauthorizedEvent
  | V1AccountExternalAccountCreatedEvent
  | V1AccountExternalAccountDeletedEvent
  | V1AccountExternalAccountUpdatedEvent
  | V1AccountUpdatedEvent
  | V1AccountSignalsIncludingDelinquencyCreatedEvent
  | V1ApplicationFeeCreatedEvent
  | V1ApplicationFeeRefundUpdatedEvent
  | V1ApplicationFeeRefundedEvent
  | V1BalanceAvailableEvent
  | V1BillingAlertTriggeredEvent
  | V1BillingMeterErrorReportTriggeredEvent
  | V1BillingMeterNoMeterFoundEvent
  | V1BillingPortalConfigurationCreatedEvent
  | V1BillingPortalConfigurationUpdatedEvent
  | V1BillingPortalSessionCreatedEvent
  | V1CapabilityUpdatedEvent
  | V1CashBalanceFundsAvailableEvent
  | V1ChargeCapturedEvent
  | V1ChargeDisputeClosedEvent
  | V1ChargeDisputeCreatedEvent
  | V1ChargeDisputeFundsReinstatedEvent
  | V1ChargeDisputeFundsWithdrawnEvent
  | V1ChargeDisputeUpdatedEvent
  | V1ChargeExpiredEvent
  | V1ChargeFailedEvent
  | V1ChargePendingEvent
  | V1ChargeRefundUpdatedEvent
  | V1ChargeRefundedEvent
  | V1ChargeSucceededEvent
  | V1ChargeUpdatedEvent
  | V1CheckoutSessionAsyncPaymentFailedEvent
  | V1CheckoutSessionAsyncPaymentSucceededEvent
  | V1CheckoutSessionCompletedEvent
  | V1CheckoutSessionExpiredEvent
  | V1ClimateOrderCanceledEvent
  | V1ClimateOrderCreatedEvent
  | V1ClimateOrderDelayedEvent
  | V1ClimateOrderDeliveredEvent
  | V1ClimateOrderProductSubstitutedEvent
  | V1ClimateProductCreatedEvent
  | V1ClimateProductPricingUpdatedEvent
  | V1CouponCreatedEvent
  | V1CouponDeletedEvent
  | V1CouponUpdatedEvent
  | V1CreditNoteCreatedEvent
  | V1CreditNoteUpdatedEvent
  | V1CreditNoteVoidedEvent
  | V1CustomerCreatedEvent
  | V1CustomerDeletedEvent
  | V1CustomerSubscriptionCreatedEvent
  | V1CustomerSubscriptionDeletedEvent
  | V1CustomerSubscriptionPausedEvent
  | V1CustomerSubscriptionPendingUpdateAppliedEvent
  | V1CustomerSubscriptionPendingUpdateExpiredEvent
  | V1CustomerSubscriptionResumedEvent
  | V1CustomerSubscriptionTrialWillEndEvent
  | V1CustomerSubscriptionUpdatedEvent
  | V1CustomerTaxIdCreatedEvent
  | V1CustomerTaxIdDeletedEvent
  | V1CustomerTaxIdUpdatedEvent
  | V1CustomerUpdatedEvent
  | V1CustomerCashBalanceTransactionCreatedEvent
  | V1EntitlementsActiveEntitlementSummaryUpdatedEvent
  | V1FileCreatedEvent
  | V1FinancialConnectionsAccountCreatedEvent
  | V1FinancialConnectionsAccountDeactivatedEvent
  | V1FinancialConnectionsAccountDisconnectedEvent
  | V1FinancialConnectionsAccountReactivatedEvent
  | V1FinancialConnectionsAccountRefreshedBalanceEvent
  | V1FinancialConnectionsAccountRefreshedOwnershipEvent
  | V1FinancialConnectionsAccountRefreshedTransactionsEvent
  | V1IdentityVerificationSessionCanceledEvent
  | V1IdentityVerificationSessionCreatedEvent
  | V1IdentityVerificationSessionProcessingEvent
  | V1IdentityVerificationSessionRedactedEvent
  | V1IdentityVerificationSessionRequiresInputEvent
  | V1IdentityVerificationSessionVerifiedEvent
  | V1InvoiceCreatedEvent
  | V1InvoiceDeletedEvent
  | V1InvoiceFinalizationFailedEvent
  | V1InvoiceFinalizedEvent
  | V1InvoiceMarkedUncollectibleEvent
  | V1InvoiceOverdueEvent
  | V1InvoiceOverpaidEvent
  | V1InvoicePaidEvent
  | V1InvoicePaymentActionRequiredEvent
  | V1InvoicePaymentFailedEvent
  | V1InvoicePaymentSucceededEvent
  | V1InvoiceSentEvent
  | V1InvoiceUpcomingEvent
  | V1InvoiceUpdatedEvent
  | V1InvoiceVoidedEvent
  | V1InvoiceWillBeDueEvent
  | V1InvoicePaymentPaidEvent
  | V1InvoiceitemCreatedEvent
  | V1InvoiceitemDeletedEvent
  | V1IssuingAuthorizationCreatedEvent
  | V1IssuingAuthorizationRequestEvent
  | V1IssuingAuthorizationUpdatedEvent
  | V1IssuingCardCreatedEvent
  | V1IssuingCardUpdatedEvent
  | V1IssuingCardholderCreatedEvent
  | V1IssuingCardholderUpdatedEvent
  | V1IssuingDisputeClosedEvent
  | V1IssuingDisputeCreatedEvent
  | V1IssuingDisputeFundsReinstatedEvent
  | V1IssuingDisputeFundsRescindedEvent
  | V1IssuingDisputeSubmittedEvent
  | V1IssuingDisputeUpdatedEvent
  | V1IssuingPersonalizationDesignActivatedEvent
  | V1IssuingPersonalizationDesignDeactivatedEvent
  | V1IssuingPersonalizationDesignRejectedEvent
  | V1IssuingPersonalizationDesignUpdatedEvent
  | V1IssuingTokenCreatedEvent
  | V1IssuingTokenUpdatedEvent
  | V1IssuingTransactionCreatedEvent
  | V1IssuingTransactionPurchaseDetailsReceiptUpdatedEvent
  | V1IssuingTransactionUpdatedEvent
  | V1MandateUpdatedEvent
  | V1PaymentIntentAmountCapturableUpdatedEvent
  | V1PaymentIntentCanceledEvent
  | V1PaymentIntentCreatedEvent
  | V1PaymentIntentPartiallyFundedEvent
  | V1PaymentIntentPaymentFailedEvent
  | V1PaymentIntentProcessingEvent
  | V1PaymentIntentRequiresActionEvent
  | V1PaymentIntentSucceededEvent
  | V1PaymentLinkCreatedEvent
  | V1PaymentLinkUpdatedEvent
  | V1PaymentMethodAttachedEvent
  | V1PaymentMethodAutomaticallyUpdatedEvent
  | V1PaymentMethodDetachedEvent
  | V1PaymentMethodUpdatedEvent
  | V1PayoutCanceledEvent
  | V1PayoutCreatedEvent
  | V1PayoutFailedEvent
  | V1PayoutPaidEvent
  | V1PayoutReconciliationCompletedEvent
  | V1PayoutUpdatedEvent
  | V1PersonCreatedEvent
  | V1PersonDeletedEvent
  | V1PersonUpdatedEvent
  | V1PlanCreatedEvent
  | V1PlanDeletedEvent
  | V1PlanUpdatedEvent
  | V1PriceCreatedEvent
  | V1PriceDeletedEvent
  | V1PriceUpdatedEvent
  | V1ProductCreatedEvent
  | V1ProductDeletedEvent
  | V1ProductUpdatedEvent
  | V1PromotionCodeCreatedEvent
  | V1PromotionCodeUpdatedEvent
  | V1QuoteAcceptedEvent
  | V1QuoteCanceledEvent
  | V1QuoteCreatedEvent
  | V1QuoteFinalizedEvent
  | V1RadarEarlyFraudWarningCreatedEvent
  | V1RadarEarlyFraudWarningUpdatedEvent
  | V1RefundCreatedEvent
  | V1RefundFailedEvent
  | V1RefundUpdatedEvent
  | V1ReviewClosedEvent
  | V1ReviewOpenedEvent
  | V1SetupIntentCanceledEvent
  | V1SetupIntentCreatedEvent
  | V1SetupIntentRequiresActionEvent
  | V1SetupIntentSetupFailedEvent
  | V1SetupIntentSucceededEvent
  | V1SigmaScheduledQueryRunCreatedEvent
  | V1SourceCanceledEvent
  | V1SourceChargeableEvent
  | V1SourceFailedEvent
  | V1SourceRefundAttributesRequiredEvent
  | V1SubscriptionScheduleAbortedEvent
  | V1SubscriptionScheduleCanceledEvent
  | V1SubscriptionScheduleCompletedEvent
  | V1SubscriptionScheduleCreatedEvent
  | V1SubscriptionScheduleExpiringEvent
  | V1SubscriptionScheduleReleasedEvent
  | V1SubscriptionScheduleUpdatedEvent
  | V1TaxSettingsUpdatedEvent
  | V1TaxRateCreatedEvent
  | V1TaxRateUpdatedEvent
  | V1TerminalReaderActionFailedEvent
  | V1TerminalReaderActionSucceededEvent
  | V1TerminalReaderActionUpdatedEvent
  | V1TestHelpersTestClockAdvancingEvent
  | V1TestHelpersTestClockCreatedEvent
  | V1TestHelpersTestClockDeletedEvent
  | V1TestHelpersTestClockInternalFailureEvent
  | V1TestHelpersTestClockReadyEvent
  | V1TopupCanceledEvent
  | V1TopupCreatedEvent
  | V1TopupFailedEvent
  | V1TopupReversedEvent
  | V1TopupSucceededEvent
  | V1TransferCreatedEvent
  | V1TransferReversedEvent
  | V1TransferUpdatedEvent
  | V2BillingCadenceBilledEvent
  | V2BillingCadenceCanceledEvent
  | V2BillingCadenceCreatedEvent
  | V2BillingLicenseFeeCreatedEvent
  | V2BillingLicenseFeeUpdatedEvent
  | V2BillingLicenseFeeVersionCreatedEvent
  | V2BillingLicensedItemCreatedEvent
  | V2BillingLicensedItemUpdatedEvent
  | V2BillingMeteredItemCreatedEvent
  | V2BillingMeteredItemUpdatedEvent
  | V2BillingPricingPlanCreatedEvent
  | V2BillingPricingPlanUpdatedEvent
  | V2BillingPricingPlanComponentCreatedEvent
  | V2BillingPricingPlanComponentUpdatedEvent
  | V2BillingPricingPlanSubscriptionCollectionAwaitingCustomerActionEvent
  | V2BillingPricingPlanSubscriptionCollectionCurrentEvent
  | V2BillingPricingPlanSubscriptionCollectionPastDueEvent
  | V2BillingPricingPlanSubscriptionCollectionPausedEvent
  | V2BillingPricingPlanSubscriptionCollectionUnpaidEvent
  | V2BillingPricingPlanSubscriptionServicingActivatedEvent
  | V2BillingPricingPlanSubscriptionServicingCanceledEvent
  | V2BillingPricingPlanSubscriptionServicingPausedEvent
  | V2BillingPricingPlanVersionCreatedEvent
  | V2BillingRateCardCreatedEvent
  | V2BillingRateCardUpdatedEvent
  | V2BillingRateCardCustomPricingUnitOverageRateCreatedEvent
  | V2BillingRateCardRateCreatedEvent
  | V2BillingRateCardSubscriptionActivatedEvent
  | V2BillingRateCardSubscriptionCanceledEvent
  | V2BillingRateCardSubscriptionCollectionAwaitingCustomerActionEvent
  | V2BillingRateCardSubscriptionCollectionCurrentEvent
  | V2BillingRateCardSubscriptionCollectionPastDueEvent
  | V2BillingRateCardSubscriptionCollectionPausedEvent
  | V2BillingRateCardSubscriptionCollectionUnpaidEvent
  | V2BillingRateCardSubscriptionServicingActivatedEvent
  | V2BillingRateCardSubscriptionServicingCanceledEvent
  | V2BillingRateCardSubscriptionServicingPausedEvent
  | V2BillingRateCardVersionCreatedEvent
  | V2CommerceProductCatalogImportsFailedEvent
  | V2CommerceProductCatalogImportsProcessingEvent
  | V2CommerceProductCatalogImportsSucceededEvent
  | V2CommerceProductCatalogImportsSucceededWithErrorsEvent
  | V2CoreAccountClosedEvent
  | V2CoreAccountCreatedEvent
  | V2CoreAccountUpdatedEvent
  | V2CoreAccountIncludingConfigurationCardCreatorCapabilityStatusUpdatedEvent
  | V2CoreAccountIncludingConfigurationCardCreatorUpdatedEvent
  | V2CoreAccountIncludingConfigurationCustomerCapabilityStatusUpdatedEvent
  | V2CoreAccountIncludingConfigurationCustomerUpdatedEvent
  | V2CoreAccountIncludingConfigurationMerchantCapabilityStatusUpdatedEvent
  | V2CoreAccountIncludingConfigurationMerchantUpdatedEvent
  | V2CoreAccountIncludingConfigurationRecipientCapabilityStatusUpdatedEvent
  | V2CoreAccountIncludingConfigurationRecipientUpdatedEvent
  | V2CoreAccountIncludingConfigurationStorerCapabilityStatusUpdatedEvent
  | V2CoreAccountIncludingConfigurationStorerUpdatedEvent
  | V2CoreAccountIncludingDefaultsUpdatedEvent
  | V2CoreAccountIncludingFutureRequirementsUpdatedEvent
  | V2CoreAccountIncludingIdentityUpdatedEvent
  | V2CoreAccountIncludingRequirementsUpdatedEvent
  | V2CoreAccountLinkReturnedEvent
  | V2CoreAccountPersonCreatedEvent
  | V2CoreAccountPersonDeletedEvent
  | V2CoreAccountPersonUpdatedEvent
  | V2CoreAccountSignalsFraudulentWebsiteReadyEvent
  | V2CoreApprovalRequestApprovedEvent
  | V2CoreApprovalRequestCanceledEvent
  | V2CoreApprovalRequestFailedEvent
  | V2CoreApprovalRequestRejectedEvent
  | V2CoreApprovalRequestSucceededEvent
  | V2CoreBatchJobBatchFailedEvent
  | V2CoreBatchJobCanceledEvent
  | V2CoreBatchJobCompletedEvent
  | V2CoreBatchJobCreatedEvent
  | V2CoreBatchJobReadyForUploadEvent
  | V2CoreBatchJobTimeoutEvent
  | V2CoreBatchJobUpdatedEvent
  | V2CoreBatchJobUploadTimeoutEvent
  | V2CoreBatchJobValidatingEvent
  | V2CoreBatchJobValidationFailedEvent
  | V2CoreClaimableSandboxClaimedEvent
  | V2CoreClaimableSandboxCreatedEvent
  | V2CoreClaimableSandboxExpiredEvent
  | V2CoreClaimableSandboxExpiringEvent
  | V2CoreClaimableSandboxUpdatedEvent
  | V2CoreEventDestinationPingEvent
  | V2CoreHealthApiErrorFiringEvent
  | V2CoreHealthApiErrorResolvedEvent
  | V2CoreHealthApiLatencyFiringEvent
  | V2CoreHealthApiLatencyResolvedEvent
  | V2CoreHealthAuthorizationRateDropFiringEvent
  | V2CoreHealthAuthorizationRateDropResolvedEvent
  | V2CoreHealthEventGenerationFailureResolvedEvent
  | V2CoreHealthFraudRateIncreasedEvent
  | V2CoreHealthIssuingAuthorizationRequestErrorsFiringEvent
  | V2CoreHealthIssuingAuthorizationRequestErrorsResolvedEvent
  | V2CoreHealthIssuingAuthorizationRequestTimeoutFiringEvent
  | V2CoreHealthIssuingAuthorizationRequestTimeoutResolvedEvent
  | V2CoreHealthMeterEventSummariesDelayedFiringEvent
  | V2CoreHealthMeterEventSummariesDelayedResolvedEvent
  | V2CoreHealthPaymentMethodErrorFiringEvent
  | V2CoreHealthPaymentMethodErrorResolvedEvent
  | V2CoreHealthSepaDebitDelayedFiringEvent
  | V2CoreHealthSepaDebitDelayedResolvedEvent
  | V2CoreHealthTrafficVolumeDropFiringEvent
  | V2CoreHealthTrafficVolumeDropResolvedEvent
  | V2CoreHealthWebhookLatencyFiringEvent
  | V2CoreHealthWebhookLatencyResolvedEvent
  | V2DataReportingQueryRunCreatedEvent
  | V2DataReportingQueryRunFailedEvent
  | V2DataReportingQueryRunSucceededEvent
  | V2DataReportingQueryRunUpdatedEvent
  | V2ExtendWorkflowRunFailedEvent
  | V2ExtendWorkflowRunStartedEvent
  | V2ExtendWorkflowRunSucceededEvent
  | V2IamApiKeyCreatedEvent
  | V2IamApiKeyDefaultSecretRevealedEvent
  | V2IamApiKeyExpiredEvent
  | V2IamApiKeyPermissionsUpdatedEvent
  | V2IamApiKeyRotatedEvent
  | V2IamApiKeyUpdatedEvent
  | V2IamStripeAccessGrantApprovedEvent
  | V2IamStripeAccessGrantCanceledEvent
  | V2IamStripeAccessGrantDeniedEvent
  | V2IamStripeAccessGrantRemovedEvent
  | V2IamStripeAccessGrantRequestedEvent
  | V2IamStripeAccessGrantUpdatedEvent
  | V2MoneyManagementAdjustmentCreatedEvent
  | V2MoneyManagementFinancialAccountCreatedEvent
  | V2MoneyManagementFinancialAccountUpdatedEvent
  | V2MoneyManagementFinancialAddressActivatedEvent
  | V2MoneyManagementFinancialAddressFailedEvent
  | V2MoneyManagementInboundTransferAvailableEvent
  | V2MoneyManagementInboundTransferBankDebitFailedEvent
  | V2MoneyManagementInboundTransferBankDebitProcessingEvent
  | V2MoneyManagementInboundTransferBankDebitQueuedEvent
  | V2MoneyManagementInboundTransferBankDebitReturnedEvent
  | V2MoneyManagementInboundTransferBankDebitSucceededEvent
  | V2MoneyManagementOutboundPaymentCanceledEvent
  | V2MoneyManagementOutboundPaymentCreatedEvent
  | V2MoneyManagementOutboundPaymentFailedEvent
  | V2MoneyManagementOutboundPaymentPostedEvent
  | V2MoneyManagementOutboundPaymentReturnedEvent
  | V2MoneyManagementOutboundPaymentUpdatedEvent
  | V2MoneyManagementOutboundTransferCanceledEvent
  | V2MoneyManagementOutboundTransferCreatedEvent
  | V2MoneyManagementOutboundTransferFailedEvent
  | V2MoneyManagementOutboundTransferPostedEvent
  | V2MoneyManagementOutboundTransferReturnedEvent
  | V2MoneyManagementOutboundTransferUpdatedEvent
  | V2MoneyManagementPayoutMethodCreatedEvent
  | V2MoneyManagementPayoutMethodUpdatedEvent
  | V2MoneyManagementReceivedCreditAvailableEvent
  | V2MoneyManagementReceivedCreditFailedEvent
  | V2MoneyManagementReceivedCreditReturnedEvent
  | V2MoneyManagementReceivedCreditSucceededEvent
  | V2MoneyManagementReceivedDebitCanceledEvent
  | V2MoneyManagementReceivedDebitFailedEvent
  | V2MoneyManagementReceivedDebitPendingEvent
  | V2MoneyManagementReceivedDebitSucceededEvent
  | V2MoneyManagementReceivedDebitUpdatedEvent
  | V2MoneyManagementRecipientVerificationCreatedEvent
  | V2MoneyManagementRecipientVerificationUpdatedEvent
  | V2MoneyManagementTransactionCreatedEvent
  | V2MoneyManagementTransactionUpdatedEvent
  | V2OrchestratedCommerceAgreementConfirmedEvent
  | V2OrchestratedCommerceAgreementCreatedEvent
  | V2OrchestratedCommerceAgreementPartiallyConfirmedEvent
  | V2OrchestratedCommerceAgreementTerminatedEvent
  | V2PaymentsOffSessionPaymentAttemptFailedEvent
  | V2PaymentsOffSessionPaymentAttemptStartedEvent
  | V2PaymentsOffSessionPaymentAuthorizationAttemptFailedEvent
  | V2PaymentsOffSessionPaymentAuthorizationAttemptStartedEvent
  | V2PaymentsOffSessionPaymentCanceledEvent
  | V2PaymentsOffSessionPaymentCreatedEvent
  | V2PaymentsOffSessionPaymentFailedEvent
  | V2PaymentsOffSessionPaymentPausedEvent
  | V2PaymentsOffSessionPaymentRequiresCaptureEvent
  | V2PaymentsOffSessionPaymentResumedEvent
  | V2PaymentsOffSessionPaymentSucceededEvent
  | V2PaymentsSettlementAllocationIntentCanceledEvent
  | V2PaymentsSettlementAllocationIntentCreatedEvent
  | V2PaymentsSettlementAllocationIntentErroredEvent
  | V2PaymentsSettlementAllocationIntentFundsNotReceivedEvent
  | V2PaymentsSettlementAllocationIntentMatchedEvent
  | V2PaymentsSettlementAllocationIntentNotFoundEvent
  | V2PaymentsSettlementAllocationIntentSettledEvent
  | V2PaymentsSettlementAllocationIntentSubmittedEvent
  | V2PaymentsSettlementAllocationIntentSplitCanceledEvent
  | V2PaymentsSettlementAllocationIntentSplitCreatedEvent
  | V2PaymentsSettlementAllocationIntentSplitSettledEvent
  | V2ReportingReportRunCreatedEvent
  | V2ReportingReportRunFailedEvent
  | V2ReportingReportRunSucceededEvent
  | V2ReportingReportRunUpdatedEvent
  | V2SignalsAccountSignalFraudulentMerchantReadyEvent;

export type EventNotification =
  | V1AccountApplicationAuthorizedEventNotification
  | V1AccountApplicationDeauthorizedEventNotification
  | V1AccountExternalAccountCreatedEventNotification
  | V1AccountExternalAccountDeletedEventNotification
  | V1AccountExternalAccountUpdatedEventNotification
  | V1AccountUpdatedEventNotification
  | V1AccountSignalsIncludingDelinquencyCreatedEventNotification
  | V1ApplicationFeeCreatedEventNotification
  | V1ApplicationFeeRefundUpdatedEventNotification
  | V1ApplicationFeeRefundedEventNotification
  | V1BalanceAvailableEventNotification
  | V1BillingAlertTriggeredEventNotification
  | V1BillingMeterErrorReportTriggeredEventNotification
  | V1BillingMeterNoMeterFoundEventNotification
  | V1BillingPortalConfigurationCreatedEventNotification
  | V1BillingPortalConfigurationUpdatedEventNotification
  | V1BillingPortalSessionCreatedEventNotification
  | V1CapabilityUpdatedEventNotification
  | V1CashBalanceFundsAvailableEventNotification
  | V1ChargeCapturedEventNotification
  | V1ChargeDisputeClosedEventNotification
  | V1ChargeDisputeCreatedEventNotification
  | V1ChargeDisputeFundsReinstatedEventNotification
  | V1ChargeDisputeFundsWithdrawnEventNotification
  | V1ChargeDisputeUpdatedEventNotification
  | V1ChargeExpiredEventNotification
  | V1ChargeFailedEventNotification
  | V1ChargePendingEventNotification
  | V1ChargeRefundUpdatedEventNotification
  | V1ChargeRefundedEventNotification
  | V1ChargeSucceededEventNotification
  | V1ChargeUpdatedEventNotification
  | V1CheckoutSessionAsyncPaymentFailedEventNotification
  | V1CheckoutSessionAsyncPaymentSucceededEventNotification
  | V1CheckoutSessionCompletedEventNotification
  | V1CheckoutSessionExpiredEventNotification
  | V1ClimateOrderCanceledEventNotification
  | V1ClimateOrderCreatedEventNotification
  | V1ClimateOrderDelayedEventNotification
  | V1ClimateOrderDeliveredEventNotification
  | V1ClimateOrderProductSubstitutedEventNotification
  | V1ClimateProductCreatedEventNotification
  | V1ClimateProductPricingUpdatedEventNotification
  | V1CouponCreatedEventNotification
  | V1CouponDeletedEventNotification
  | V1CouponUpdatedEventNotification
  | V1CreditNoteCreatedEventNotification
  | V1CreditNoteUpdatedEventNotification
  | V1CreditNoteVoidedEventNotification
  | V1CustomerCreatedEventNotification
  | V1CustomerDeletedEventNotification
  | V1CustomerSubscriptionCreatedEventNotification
  | V1CustomerSubscriptionDeletedEventNotification
  | V1CustomerSubscriptionPausedEventNotification
  | V1CustomerSubscriptionPendingUpdateAppliedEventNotification
  | V1CustomerSubscriptionPendingUpdateExpiredEventNotification
  | V1CustomerSubscriptionResumedEventNotification
  | V1CustomerSubscriptionTrialWillEndEventNotification
  | V1CustomerSubscriptionUpdatedEventNotification
  | V1CustomerTaxIdCreatedEventNotification
  | V1CustomerTaxIdDeletedEventNotification
  | V1CustomerTaxIdUpdatedEventNotification
  | V1CustomerUpdatedEventNotification
  | V1CustomerCashBalanceTransactionCreatedEventNotification
  | V1EntitlementsActiveEntitlementSummaryUpdatedEventNotification
  | V1FileCreatedEventNotification
  | V1FinancialConnectionsAccountCreatedEventNotification
  | V1FinancialConnectionsAccountDeactivatedEventNotification
  | V1FinancialConnectionsAccountDisconnectedEventNotification
  | V1FinancialConnectionsAccountReactivatedEventNotification
  | V1FinancialConnectionsAccountRefreshedBalanceEventNotification
  | V1FinancialConnectionsAccountRefreshedOwnershipEventNotification
  | V1FinancialConnectionsAccountRefreshedTransactionsEventNotification
  | V1IdentityVerificationSessionCanceledEventNotification
  | V1IdentityVerificationSessionCreatedEventNotification
  | V1IdentityVerificationSessionProcessingEventNotification
  | V1IdentityVerificationSessionRedactedEventNotification
  | V1IdentityVerificationSessionRequiresInputEventNotification
  | V1IdentityVerificationSessionVerifiedEventNotification
  | V1InvoiceCreatedEventNotification
  | V1InvoiceDeletedEventNotification
  | V1InvoiceFinalizationFailedEventNotification
  | V1InvoiceFinalizedEventNotification
  | V1InvoiceMarkedUncollectibleEventNotification
  | V1InvoiceOverdueEventNotification
  | V1InvoiceOverpaidEventNotification
  | V1InvoicePaidEventNotification
  | V1InvoicePaymentActionRequiredEventNotification
  | V1InvoicePaymentFailedEventNotification
  | V1InvoicePaymentSucceededEventNotification
  | V1InvoiceSentEventNotification
  | V1InvoiceUpcomingEventNotification
  | V1InvoiceUpdatedEventNotification
  | V1InvoiceVoidedEventNotification
  | V1InvoiceWillBeDueEventNotification
  | V1InvoicePaymentPaidEventNotification
  | V1InvoiceitemCreatedEventNotification
  | V1InvoiceitemDeletedEventNotification
  | V1IssuingAuthorizationCreatedEventNotification
  | V1IssuingAuthorizationRequestEventNotification
  | V1IssuingAuthorizationUpdatedEventNotification
  | V1IssuingCardCreatedEventNotification
  | V1IssuingCardUpdatedEventNotification
  | V1IssuingCardholderCreatedEventNotification
  | V1IssuingCardholderUpdatedEventNotification
  | V1IssuingDisputeClosedEventNotification
  | V1IssuingDisputeCreatedEventNotification
  | V1IssuingDisputeFundsReinstatedEventNotification
  | V1IssuingDisputeFundsRescindedEventNotification
  | V1IssuingDisputeSubmittedEventNotification
  | V1IssuingDisputeUpdatedEventNotification
  | V1IssuingPersonalizationDesignActivatedEventNotification
  | V1IssuingPersonalizationDesignDeactivatedEventNotification
  | V1IssuingPersonalizationDesignRejectedEventNotification
  | V1IssuingPersonalizationDesignUpdatedEventNotification
  | V1IssuingTokenCreatedEventNotification
  | V1IssuingTokenUpdatedEventNotification
  | V1IssuingTransactionCreatedEventNotification
  | V1IssuingTransactionPurchaseDetailsReceiptUpdatedEventNotification
  | V1IssuingTransactionUpdatedEventNotification
  | V1MandateUpdatedEventNotification
  | V1PaymentIntentAmountCapturableUpdatedEventNotification
  | V1PaymentIntentCanceledEventNotification
  | V1PaymentIntentCreatedEventNotification
  | V1PaymentIntentPartiallyFundedEventNotification
  | V1PaymentIntentPaymentFailedEventNotification
  | V1PaymentIntentProcessingEventNotification
  | V1PaymentIntentRequiresActionEventNotification
  | V1PaymentIntentSucceededEventNotification
  | V1PaymentLinkCreatedEventNotification
  | V1PaymentLinkUpdatedEventNotification
  | V1PaymentMethodAttachedEventNotification
  | V1PaymentMethodAutomaticallyUpdatedEventNotification
  | V1PaymentMethodDetachedEventNotification
  | V1PaymentMethodUpdatedEventNotification
  | V1PayoutCanceledEventNotification
  | V1PayoutCreatedEventNotification
  | V1PayoutFailedEventNotification
  | V1PayoutPaidEventNotification
  | V1PayoutReconciliationCompletedEventNotification
  | V1PayoutUpdatedEventNotification
  | V1PersonCreatedEventNotification
  | V1PersonDeletedEventNotification
  | V1PersonUpdatedEventNotification
  | V1PlanCreatedEventNotification
  | V1PlanDeletedEventNotification
  | V1PlanUpdatedEventNotification
  | V1PriceCreatedEventNotification
  | V1PriceDeletedEventNotification
  | V1PriceUpdatedEventNotification
  | V1ProductCreatedEventNotification
  | V1ProductDeletedEventNotification
  | V1ProductUpdatedEventNotification
  | V1PromotionCodeCreatedEventNotification
  | V1PromotionCodeUpdatedEventNotification
  | V1QuoteAcceptedEventNotification
  | V1QuoteCanceledEventNotification
  | V1QuoteCreatedEventNotification
  | V1QuoteFinalizedEventNotification
  | V1RadarEarlyFraudWarningCreatedEventNotification
  | V1RadarEarlyFraudWarningUpdatedEventNotification
  | V1RefundCreatedEventNotification
  | V1RefundFailedEventNotification
  | V1RefundUpdatedEventNotification
  | V1ReviewClosedEventNotification
  | V1ReviewOpenedEventNotification
  | V1SetupIntentCanceledEventNotification
  | V1SetupIntentCreatedEventNotification
  | V1SetupIntentRequiresActionEventNotification
  | V1SetupIntentSetupFailedEventNotification
  | V1SetupIntentSucceededEventNotification
  | V1SigmaScheduledQueryRunCreatedEventNotification
  | V1SourceCanceledEventNotification
  | V1SourceChargeableEventNotification
  | V1SourceFailedEventNotification
  | V1SourceRefundAttributesRequiredEventNotification
  | V1SubscriptionScheduleAbortedEventNotification
  | V1SubscriptionScheduleCanceledEventNotification
  | V1SubscriptionScheduleCompletedEventNotification
  | V1SubscriptionScheduleCreatedEventNotification
  | V1SubscriptionScheduleExpiringEventNotification
  | V1SubscriptionScheduleReleasedEventNotification
  | V1SubscriptionScheduleUpdatedEventNotification
  | V1TaxSettingsUpdatedEventNotification
  | V1TaxRateCreatedEventNotification
  | V1TaxRateUpdatedEventNotification
  | V1TerminalReaderActionFailedEventNotification
  | V1TerminalReaderActionSucceededEventNotification
  | V1TerminalReaderActionUpdatedEventNotification
  | V1TestHelpersTestClockAdvancingEventNotification
  | V1TestHelpersTestClockCreatedEventNotification
  | V1TestHelpersTestClockDeletedEventNotification
  | V1TestHelpersTestClockInternalFailureEventNotification
  | V1TestHelpersTestClockReadyEventNotification
  | V1TopupCanceledEventNotification
  | V1TopupCreatedEventNotification
  | V1TopupFailedEventNotification
  | V1TopupReversedEventNotification
  | V1TopupSucceededEventNotification
  | V1TransferCreatedEventNotification
  | V1TransferReversedEventNotification
  | V1TransferUpdatedEventNotification
  | V2BillingCadenceBilledEventNotification
  | V2BillingCadenceCanceledEventNotification
  | V2BillingCadenceCreatedEventNotification
  | V2BillingLicenseFeeCreatedEventNotification
  | V2BillingLicenseFeeUpdatedEventNotification
  | V2BillingLicenseFeeVersionCreatedEventNotification
  | V2BillingLicensedItemCreatedEventNotification
  | V2BillingLicensedItemUpdatedEventNotification
  | V2BillingMeteredItemCreatedEventNotification
  | V2BillingMeteredItemUpdatedEventNotification
  | V2BillingPricingPlanCreatedEventNotification
  | V2BillingPricingPlanUpdatedEventNotification
  | V2BillingPricingPlanComponentCreatedEventNotification
  | V2BillingPricingPlanComponentUpdatedEventNotification
  | V2BillingPricingPlanSubscriptionCollectionAwaitingCustomerActionEventNotification
  | V2BillingPricingPlanSubscriptionCollectionCurrentEventNotification
  | V2BillingPricingPlanSubscriptionCollectionPastDueEventNotification
  | V2BillingPricingPlanSubscriptionCollectionPausedEventNotification
  | V2BillingPricingPlanSubscriptionCollectionUnpaidEventNotification
  | V2BillingPricingPlanSubscriptionServicingActivatedEventNotification
  | V2BillingPricingPlanSubscriptionServicingCanceledEventNotification
  | V2BillingPricingPlanSubscriptionServicingPausedEventNotification
  | V2BillingPricingPlanVersionCreatedEventNotification
  | V2BillingRateCardCreatedEventNotification
  | V2BillingRateCardUpdatedEventNotification
  | V2BillingRateCardCustomPricingUnitOverageRateCreatedEventNotification
  | V2BillingRateCardRateCreatedEventNotification
  | V2BillingRateCardSubscriptionActivatedEventNotification
  | V2BillingRateCardSubscriptionCanceledEventNotification
  | V2BillingRateCardSubscriptionCollectionAwaitingCustomerActionEventNotification
  | V2BillingRateCardSubscriptionCollectionCurrentEventNotification
  | V2BillingRateCardSubscriptionCollectionPastDueEventNotification
  | V2BillingRateCardSubscriptionCollectionPausedEventNotification
  | V2BillingRateCardSubscriptionCollectionUnpaidEventNotification
  | V2BillingRateCardSubscriptionServicingActivatedEventNotification
  | V2BillingRateCardSubscriptionServicingCanceledEventNotification
  | V2BillingRateCardSubscriptionServicingPausedEventNotification
  | V2BillingRateCardVersionCreatedEventNotification
  | V2CommerceProductCatalogImportsFailedEventNotification
  | V2CommerceProductCatalogImportsProcessingEventNotification
  | V2CommerceProductCatalogImportsSucceededEventNotification
  | V2CommerceProductCatalogImportsSucceededWithErrorsEventNotification
  | V2CoreAccountClosedEventNotification
  | V2CoreAccountCreatedEventNotification
  | V2CoreAccountUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationCardCreatorCapabilityStatusUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationCardCreatorUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationCustomerCapabilityStatusUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationCustomerUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationMerchantCapabilityStatusUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationMerchantUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationRecipientCapabilityStatusUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationRecipientUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationStorerCapabilityStatusUpdatedEventNotification
  | V2CoreAccountIncludingConfigurationStorerUpdatedEventNotification
  | V2CoreAccountIncludingDefaultsUpdatedEventNotification
  | V2CoreAccountIncludingFutureRequirementsUpdatedEventNotification
  | V2CoreAccountIncludingIdentityUpdatedEventNotification
  | V2CoreAccountIncludingRequirementsUpdatedEventNotification
  | V2CoreAccountLinkReturnedEventNotification
  | V2CoreAccountPersonCreatedEventNotification
  | V2CoreAccountPersonDeletedEventNotification
  | V2CoreAccountPersonUpdatedEventNotification
  | V2CoreAccountSignalsFraudulentWebsiteReadyEventNotification
  | V2CoreApprovalRequestApprovedEventNotification
  | V2CoreApprovalRequestCanceledEventNotification
  | V2CoreApprovalRequestFailedEventNotification
  | V2CoreApprovalRequestRejectedEventNotification
  | V2CoreApprovalRequestSucceededEventNotification
  | V2CoreBatchJobBatchFailedEventNotification
  | V2CoreBatchJobCanceledEventNotification
  | V2CoreBatchJobCompletedEventNotification
  | V2CoreBatchJobCreatedEventNotification
  | V2CoreBatchJobReadyForUploadEventNotification
  | V2CoreBatchJobTimeoutEventNotification
  | V2CoreBatchJobUpdatedEventNotification
  | V2CoreBatchJobUploadTimeoutEventNotification
  | V2CoreBatchJobValidatingEventNotification
  | V2CoreBatchJobValidationFailedEventNotification
  | V2CoreClaimableSandboxClaimedEventNotification
  | V2CoreClaimableSandboxCreatedEventNotification
  | V2CoreClaimableSandboxExpiredEventNotification
  | V2CoreClaimableSandboxExpiringEventNotification
  | V2CoreClaimableSandboxUpdatedEventNotification
  | V2CoreEventDestinationPingEventNotification
  | V2CoreHealthApiErrorFiringEventNotification
  | V2CoreHealthApiErrorResolvedEventNotification
  | V2CoreHealthApiLatencyFiringEventNotification
  | V2CoreHealthApiLatencyResolvedEventNotification
  | V2CoreHealthAuthorizationRateDropFiringEventNotification
  | V2CoreHealthAuthorizationRateDropResolvedEventNotification
  | V2CoreHealthEventGenerationFailureResolvedEventNotification
  | V2CoreHealthFraudRateIncreasedEventNotification
  | V2CoreHealthIssuingAuthorizationRequestErrorsFiringEventNotification
  | V2CoreHealthIssuingAuthorizationRequestErrorsResolvedEventNotification
  | V2CoreHealthIssuingAuthorizationRequestTimeoutFiringEventNotification
  | V2CoreHealthIssuingAuthorizationRequestTimeoutResolvedEventNotification
  | V2CoreHealthMeterEventSummariesDelayedFiringEventNotification
  | V2CoreHealthMeterEventSummariesDelayedResolvedEventNotification
  | V2CoreHealthPaymentMethodErrorFiringEventNotification
  | V2CoreHealthPaymentMethodErrorResolvedEventNotification
  | V2CoreHealthSepaDebitDelayedFiringEventNotification
  | V2CoreHealthSepaDebitDelayedResolvedEventNotification
  | V2CoreHealthTrafficVolumeDropFiringEventNotification
  | V2CoreHealthTrafficVolumeDropResolvedEventNotification
  | V2CoreHealthWebhookLatencyFiringEventNotification
  | V2CoreHealthWebhookLatencyResolvedEventNotification
  | V2DataReportingQueryRunCreatedEventNotification
  | V2DataReportingQueryRunFailedEventNotification
  | V2DataReportingQueryRunSucceededEventNotification
  | V2DataReportingQueryRunUpdatedEventNotification
  | V2ExtendWorkflowRunFailedEventNotification
  | V2ExtendWorkflowRunStartedEventNotification
  | V2ExtendWorkflowRunSucceededEventNotification
  | V2IamApiKeyCreatedEventNotification
  | V2IamApiKeyDefaultSecretRevealedEventNotification
  | V2IamApiKeyExpiredEventNotification
  | V2IamApiKeyPermissionsUpdatedEventNotification
  | V2IamApiKeyRotatedEventNotification
  | V2IamApiKeyUpdatedEventNotification
  | V2IamStripeAccessGrantApprovedEventNotification
  | V2IamStripeAccessGrantCanceledEventNotification
  | V2IamStripeAccessGrantDeniedEventNotification
  | V2IamStripeAccessGrantRemovedEventNotification
  | V2IamStripeAccessGrantRequestedEventNotification
  | V2IamStripeAccessGrantUpdatedEventNotification
  | V2MoneyManagementAdjustmentCreatedEventNotification
  | V2MoneyManagementFinancialAccountCreatedEventNotification
  | V2MoneyManagementFinancialAccountUpdatedEventNotification
  | V2MoneyManagementFinancialAddressActivatedEventNotification
  | V2MoneyManagementFinancialAddressFailedEventNotification
  | V2MoneyManagementInboundTransferAvailableEventNotification
  | V2MoneyManagementInboundTransferBankDebitFailedEventNotification
  | V2MoneyManagementInboundTransferBankDebitProcessingEventNotification
  | V2MoneyManagementInboundTransferBankDebitQueuedEventNotification
  | V2MoneyManagementInboundTransferBankDebitReturnedEventNotification
  | V2MoneyManagementInboundTransferBankDebitSucceededEventNotification
  | V2MoneyManagementOutboundPaymentCanceledEventNotification
  | V2MoneyManagementOutboundPaymentCreatedEventNotification
  | V2MoneyManagementOutboundPaymentFailedEventNotification
  | V2MoneyManagementOutboundPaymentPostedEventNotification
  | V2MoneyManagementOutboundPaymentReturnedEventNotification
  | V2MoneyManagementOutboundPaymentUpdatedEventNotification
  | V2MoneyManagementOutboundTransferCanceledEventNotification
  | V2MoneyManagementOutboundTransferCreatedEventNotification
  | V2MoneyManagementOutboundTransferFailedEventNotification
  | V2MoneyManagementOutboundTransferPostedEventNotification
  | V2MoneyManagementOutboundTransferReturnedEventNotification
  | V2MoneyManagementOutboundTransferUpdatedEventNotification
  | V2MoneyManagementPayoutMethodCreatedEventNotification
  | V2MoneyManagementPayoutMethodUpdatedEventNotification
  | V2MoneyManagementReceivedCreditAvailableEventNotification
  | V2MoneyManagementReceivedCreditFailedEventNotification
  | V2MoneyManagementReceivedCreditReturnedEventNotification
  | V2MoneyManagementReceivedCreditSucceededEventNotification
  | V2MoneyManagementReceivedDebitCanceledEventNotification
  | V2MoneyManagementReceivedDebitFailedEventNotification
  | V2MoneyManagementReceivedDebitPendingEventNotification
  | V2MoneyManagementReceivedDebitSucceededEventNotification
  | V2MoneyManagementReceivedDebitUpdatedEventNotification
  | V2MoneyManagementRecipientVerificationCreatedEventNotification
  | V2MoneyManagementRecipientVerificationUpdatedEventNotification
  | V2MoneyManagementTransactionCreatedEventNotification
  | V2MoneyManagementTransactionUpdatedEventNotification
  | V2OrchestratedCommerceAgreementConfirmedEventNotification
  | V2OrchestratedCommerceAgreementCreatedEventNotification
  | V2OrchestratedCommerceAgreementPartiallyConfirmedEventNotification
  | V2OrchestratedCommerceAgreementTerminatedEventNotification
  | V2PaymentsOffSessionPaymentAttemptFailedEventNotification
  | V2PaymentsOffSessionPaymentAttemptStartedEventNotification
  | V2PaymentsOffSessionPaymentAuthorizationAttemptFailedEventNotification
  | V2PaymentsOffSessionPaymentAuthorizationAttemptStartedEventNotification
  | V2PaymentsOffSessionPaymentCanceledEventNotification
  | V2PaymentsOffSessionPaymentCreatedEventNotification
  | V2PaymentsOffSessionPaymentFailedEventNotification
  | V2PaymentsOffSessionPaymentPausedEventNotification
  | V2PaymentsOffSessionPaymentRequiresCaptureEventNotification
  | V2PaymentsOffSessionPaymentResumedEventNotification
  | V2PaymentsOffSessionPaymentSucceededEventNotification
  | V2PaymentsSettlementAllocationIntentCanceledEventNotification
  | V2PaymentsSettlementAllocationIntentCreatedEventNotification
  | V2PaymentsSettlementAllocationIntentErroredEventNotification
  | V2PaymentsSettlementAllocationIntentFundsNotReceivedEventNotification
  | V2PaymentsSettlementAllocationIntentMatchedEventNotification
  | V2PaymentsSettlementAllocationIntentNotFoundEventNotification
  | V2PaymentsSettlementAllocationIntentSettledEventNotification
  | V2PaymentsSettlementAllocationIntentSubmittedEventNotification
  | V2PaymentsSettlementAllocationIntentSplitCanceledEventNotification
  | V2PaymentsSettlementAllocationIntentSplitCreatedEventNotification
  | V2PaymentsSettlementAllocationIntentSplitSettledEventNotification
  | V2ReportingReportRunCreatedEventNotification
  | V2ReportingReportRunFailedEventNotification
  | V2ReportingReportRunSucceededEventNotification
  | V2ReportingReportRunUpdatedEventNotification
  | V2SignalsAccountSignalFraudulentMerchantReadyEventNotification;

import {StripeContext} from '../../../StripeContext.js';

import {V2Amount} from '../V2Amounts.js';

export namespace V2 {
  export namespace Core {
    export namespace Events {
      export interface RelatedObject {
        /**
         * Unique identifier for the object relevant to the event.
         */ id: string;
        /**
         * Type of the object relevant to the event.
         */ type: string;
        /**
         * URL to retrieve the resource.
         */ url: string;
      }
    }
  }
}

/**
 * Represents the shape of an EventNotification that the SDK didn't know about when it was generated.
 */ export interface UnknownEventNotification extends EventNotificationBase {
  /**
   * Object containing the reference to API resource relevant to the event.
   */ related_object: V2.Core.Events.RelatedObject | null;
  /**
   * Fetches the full object corresponding to the `related_object` field. Returns `null` if there is no `related_object`.
   */ fetchRelatedObject: () => Promise<unknown>;
  /**
   * Fetches the full Event object corresponding to this notification.
   */ fetchEvent: () => Promise<EventBase>;
}

export interface EventNotificationBase extends Omit<EventBase, 'context'> {
  context?: StripeContext;
}

/**
 * Occurs whenever a user authorizes an application. Sent to the related application only.
 */
export interface V1AccountApplicationAuthorizedEvent extends EventBase {
  type: 'v1.account.application.authorized';
}
export interface V1AccountApplicationAuthorizedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.application.authorized';
  fetchEvent(): Promise<V1AccountApplicationAuthorizedEvent>;
}

/**
 * Occurs whenever a user deauthorizes an application. Sent to the related application only.
 */
export interface V1AccountApplicationDeauthorizedEvent extends EventBase {
  type: 'v1.account.application.deauthorized';
}
export interface V1AccountApplicationDeauthorizedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.application.deauthorized';
  fetchEvent(): Promise<V1AccountApplicationDeauthorizedEvent>;
}

/**
 * Occurs whenever an external account is created.
 */
export interface V1AccountExternalAccountCreatedEvent extends EventBase {
  type: 'v1.account.external_account.created';
}
export interface V1AccountExternalAccountCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.external_account.created';
  fetchEvent(): Promise<V1AccountExternalAccountCreatedEvent>;
}

/**
 * Occurs whenever an external account is deleted.
 */
export interface V1AccountExternalAccountDeletedEvent extends EventBase {
  type: 'v1.account.external_account.deleted';
}
export interface V1AccountExternalAccountDeletedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.external_account.deleted';
  fetchEvent(): Promise<V1AccountExternalAccountDeletedEvent>;
}

/**
 * Occurs whenever an external account is updated.
 */
export interface V1AccountExternalAccountUpdatedEvent extends EventBase {
  type: 'v1.account.external_account.updated';
}
export interface V1AccountExternalAccountUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.external_account.updated';
  fetchEvent(): Promise<V1AccountExternalAccountUpdatedEvent>;
}

/**
 * Occurs whenever an account status or property has changed.
 */
export interface V1AccountUpdatedEvent extends EventBase {
  type: 'v1.account.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Account>;
}
export interface V1AccountUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.account.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Account>;
  fetchEvent(): Promise<V1AccountUpdatedEvent>;
}

/**
 * Occurs when a delinquency signal is created for an account.
 */
export interface V1AccountSignalsIncludingDelinquencyCreatedEvent
  extends EventBase {
  type: 'v1.account_signals[delinquency].created';
  // Retrieves data specific to this event.
  data: V1AccountSignalsIncludingDelinquencyCreatedEvent.Data;
}
export interface V1AccountSignalsIncludingDelinquencyCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.account_signals[delinquency].created';
  fetchEvent(): Promise<V1AccountSignalsIncludingDelinquencyCreatedEvent>;
}

export namespace V1AccountSignalsIncludingDelinquencyCreatedEvent {
  export interface Data {
    /**
     * The account for which the signals belong to.
     */
    account: string;

    /**
     * Time at which the signal was evaluated.
     */
    evaluated_at: string;

    /**
     * Array of objects representing individual factors that contributed to the calculated probability of delinquency.
     */
    indicators: Array<Data.Indicator>;

    /**
     * The probability of delinquency. Can be between 0.00 and 100.00.
     */
    probability?: Decimal;

    /**
     * Categorical assessment of the delinquency risk based on probability.
     */
    risk_level: Data.RiskLevel;

    /**
     * Unique identifier for the delinquency signal.
     */
    signal_id: string;
  }

  export namespace Data {
    export interface Indicator {
      /**
       * A brief explanation of how this indicator contributed to the delinquency probability.
       */
      description: string;

      /**
       * The effect this indicator had on the overall risk level.
       */
      impact: Indicator.Impact;

      /**
       * The name of the specific indicator used in the risk assessment.
       */
      indicator: Indicator.Indicator;
    }

    export type RiskLevel =
      | 'elevated'
      | 'highest'
      | 'low'
      | 'normal'
      | 'not_assessed'
      | 'unknown';

    export namespace Indicator {
      export type Impact =
        | 'decrease'
        | 'neutral'
        | 'slight_increase'
        | 'strong_increase';

      export type Indicator =
        | 'account_balance'
        | 'aov'
        | 'charge_concentration'
        | 'disputes'
        | 'dispute_window'
        | 'duplicates'
        | 'exposure'
        | 'firmographic'
        | 'lifetime_metrics'
        | 'payment_processing'
        | 'payment_volume'
        | 'payouts'
        | 'refunds'
        | 'tenure'
        | 'transfers';
    }
  }
}

/**
 * Occurs whenever an application fee is created on a charge.
 */
export interface V1ApplicationFeeCreatedEvent extends EventBase {
  type: 'v1.application_fee.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1ApplicationFee>;
}
export interface V1ApplicationFeeCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.application_fee.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1ApplicationFee>;
  fetchEvent(): Promise<V1ApplicationFeeCreatedEvent>;
}

/**
 * Occurs whenever an application fee refund is updated.
 */
export interface V1ApplicationFeeRefundUpdatedEvent extends EventBase {
  type: 'v1.application_fee.refund.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1FeeRefund>;
}
export interface V1ApplicationFeeRefundUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.application_fee.refund.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1FeeRefund>;
  fetchEvent(): Promise<V1ApplicationFeeRefundUpdatedEvent>;
}

/**
 * Occurs whenever an application fee is refunded, whether from refunding a charge or from [refunding the application fee directly](#fee_refunds). This includes partial refunds.
 */
export interface V1ApplicationFeeRefundedEvent extends EventBase {
  type: 'v1.application_fee.refunded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1ApplicationFee>;
}
export interface V1ApplicationFeeRefundedEventNotification
  extends EventNotificationBase {
  type: 'v1.application_fee.refunded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1ApplicationFee>;
  fetchEvent(): Promise<V1ApplicationFeeRefundedEvent>;
}

/**
 * Occurs whenever your Stripe balance has been updated (e.g., when a charge is available to be paid out). By default, Stripe automatically transfers funds in your balance to your bank account on a daily basis. This event is not fired for negative transactions.
 */
export interface V1BalanceAvailableEvent extends EventBase {
  type: 'v1.balance.available';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Balance>;
}
export interface V1BalanceAvailableEventNotification
  extends EventNotificationBase {
  type: 'v1.balance.available';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Balance>;
  fetchEvent(): Promise<V1BalanceAvailableEvent>;
}

/**
 * Occurs whenever your custom alert threshold is met.
 */
export interface V1BillingAlertTriggeredEvent extends EventBase {
  type: 'v1.billing.alert.triggered';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Billing.Alert>;
}
export interface V1BillingAlertTriggeredEventNotification
  extends EventNotificationBase {
  type: 'v1.billing.alert.triggered';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Billing.Alert>;
  fetchEvent(): Promise<V1BillingAlertTriggeredEvent>;
}

/**
 * Occurs when a Meter has invalid async usage events.
 */
export interface V1BillingMeterErrorReportTriggeredEvent extends EventBase {
  type: 'v1.billing.meter.error_report_triggered';
  // Retrieves data specific to this event.
  data: V1BillingMeterErrorReportTriggeredEvent.Data;
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Billing.Meter>;
}
export interface V1BillingMeterErrorReportTriggeredEventNotification
  extends EventNotificationBase {
  type: 'v1.billing.meter.error_report_triggered';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Billing.Meter>;
  fetchEvent(): Promise<V1BillingMeterErrorReportTriggeredEvent>;
}

export namespace V1BillingMeterErrorReportTriggeredEvent {
  export interface Data {
    /**
     * Extra field included in the event's `data` when fetched from /v2/events.
     */
    developer_message_summary: string;

    /**
     * This contains information about why meter error happens.
     */
    reason: Data.Reason;

    /**
     * The end of the window that is encapsulated by this summary.
     */
    validation_end: string;

    /**
     * The start of the window that is encapsulated by this summary.
     */
    validation_start: string;
  }

  export namespace Data {
    export interface Reason {
      /**
       * The total error count within this window.
       */
      error_count: number;

      /**
       * The error details.
       */
      error_types: Array<Reason.ErrorType>;
    }

    export namespace Reason {
      export interface ErrorType {
        /**
         * Open Enum.
         */
        code: ErrorType.Code;

        /**
         * The number of errors of this type.
         */
        error_count: number;

        /**
         * A list of sample errors of this type.
         */
        sample_errors: Array<ErrorType.SampleError>;
      }

      export namespace ErrorType {
        export type Code =
          | 'archived_meter'
          | 'meter_event_customer_not_found'
          | 'meter_event_dimension_count_too_high'
          | 'meter_event_invalid_value'
          | 'meter_event_no_customer_defined'
          | 'meter_event_value_too_many_digits'
          | 'missing_dimension_payload_keys'
          | 'no_meter'
          | 'timestamp_in_future'
          | 'timestamp_too_far_in_past';

        export interface SampleError {
          /**
           * The error message.
           */
          error_message: string;

          /**
           * The request causes the error.
           */
          request: SampleError.Request;
        }

        export namespace SampleError {
          export interface Request {
            /**
             * The request idempotency key.
             */
            identifier: string;
          }
        }
      }
    }
  }
}

/**
 * Occurs when a Meter's id is missing or invalid in async usage events.
 */
export interface V1BillingMeterNoMeterFoundEvent extends EventBase {
  type: 'v1.billing.meter.no_meter_found';
  // Retrieves data specific to this event.
  data: V1BillingMeterNoMeterFoundEvent.Data;
}
export interface V1BillingMeterNoMeterFoundEventNotification
  extends EventNotificationBase {
  type: 'v1.billing.meter.no_meter_found';
  fetchEvent(): Promise<V1BillingMeterNoMeterFoundEvent>;
}

export namespace V1BillingMeterNoMeterFoundEvent {
  export interface Data {
    /**
     * Extra field included in the event's `data` when fetched from /v2/events.
     */
    developer_message_summary: string;

    /**
     * This contains information about why meter error happens.
     */
    reason: Data.Reason;

    /**
     * The end of the window that is encapsulated by this summary.
     */
    validation_end: string;

    /**
     * The start of the window that is encapsulated by this summary.
     */
    validation_start: string;
  }

  export namespace Data {
    export interface Reason {
      /**
       * The total error count within this window.
       */
      error_count: number;

      /**
       * The error details.
       */
      error_types: Array<Reason.ErrorType>;
    }

    export namespace Reason {
      export interface ErrorType {
        /**
         * Open Enum.
         */
        code: ErrorType.Code;

        /**
         * The number of errors of this type.
         */
        error_count: number;

        /**
         * A list of sample errors of this type.
         */
        sample_errors: Array<ErrorType.SampleError>;
      }

      export namespace ErrorType {
        export type Code =
          | 'archived_meter'
          | 'meter_event_customer_not_found'
          | 'meter_event_dimension_count_too_high'
          | 'meter_event_invalid_value'
          | 'meter_event_no_customer_defined'
          | 'meter_event_value_too_many_digits'
          | 'missing_dimension_payload_keys'
          | 'no_meter'
          | 'timestamp_in_future'
          | 'timestamp_too_far_in_past';

        export interface SampleError {
          /**
           * The error message.
           */
          error_message: string;

          /**
           * The request causes the error.
           */
          request: SampleError.Request;
        }

        export namespace SampleError {
          export interface Request {
            /**
             * The request idempotency key.
             */
            identifier: string;
          }
        }
      }
    }
  }
}

/**
 * Occurs whenever a portal configuration is created.
 */
export interface V1BillingPortalConfigurationCreatedEvent extends EventBase {
  type: 'v1.billing_portal.configuration.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1BillingPortal.Configuration>;
}
export interface V1BillingPortalConfigurationCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.billing_portal.configuration.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1BillingPortal.Configuration>;
  fetchEvent(): Promise<V1BillingPortalConfigurationCreatedEvent>;
}

/**
 * Occurs whenever a portal configuration is updated.
 */
export interface V1BillingPortalConfigurationUpdatedEvent extends EventBase {
  type: 'v1.billing_portal.configuration.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1BillingPortal.Configuration>;
}
export interface V1BillingPortalConfigurationUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.billing_portal.configuration.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1BillingPortal.Configuration>;
  fetchEvent(): Promise<V1BillingPortalConfigurationUpdatedEvent>;
}

/**
 * Occurs whenever a portal session is created.
 */
export interface V1BillingPortalSessionCreatedEvent extends EventBase {
  type: 'v1.billing_portal.session.created';
}
export interface V1BillingPortalSessionCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.billing_portal.session.created';
  fetchEvent(): Promise<V1BillingPortalSessionCreatedEvent>;
}

/**
 * Occurs whenever a capability has new requirements or a new status.
 */
export interface V1CapabilityUpdatedEvent extends EventBase {
  type: 'v1.capability.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Capability>;
}
export interface V1CapabilityUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.capability.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Capability>;
  fetchEvent(): Promise<V1CapabilityUpdatedEvent>;
}

/**
 * Occurs whenever there is a positive remaining cash balance after Stripe automatically reconciles new funds into the cash balance. If you enabled manual reconciliation, this webhook will fire whenever there are new funds into the cash balance.
 */
export interface V1CashBalanceFundsAvailableEvent extends EventBase {
  type: 'v1.cash_balance.funds_available';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CashBalance>;
}
export interface V1CashBalanceFundsAvailableEventNotification
  extends EventNotificationBase {
  type: 'v1.cash_balance.funds_available';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CashBalance>;
  fetchEvent(): Promise<V1CashBalanceFundsAvailableEvent>;
}

/**
 * Occurs whenever a previously uncaptured charge is captured.
 */
export interface V1ChargeCapturedEvent extends EventBase {
  type: 'v1.charge.captured';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeCapturedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.captured';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeCapturedEvent>;
}

/**
 * Occurs when a dispute is closed and the dispute status changes to `lost`, `warning_closed`, or `won`.
 */
export interface V1ChargeDisputeClosedEvent extends EventBase {
  type: 'v1.charge.dispute.closed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
}
export interface V1ChargeDisputeClosedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.dispute.closed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
  fetchEvent(): Promise<V1ChargeDisputeClosedEvent>;
}

/**
 * Occurs whenever a customer disputes a charge with their bank.
 */
export interface V1ChargeDisputeCreatedEvent extends EventBase {
  type: 'v1.charge.dispute.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
}
export interface V1ChargeDisputeCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.dispute.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
  fetchEvent(): Promise<V1ChargeDisputeCreatedEvent>;
}

/**
 * Occurs when funds are reinstated to your account after a dispute is closed. This includes [partially refunded payments](https://docs.stripe.com/disputes#disputes-on-partially-refunded-payments).
 */
export interface V1ChargeDisputeFundsReinstatedEvent extends EventBase {
  type: 'v1.charge.dispute.funds_reinstated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
}
export interface V1ChargeDisputeFundsReinstatedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.dispute.funds_reinstated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
  fetchEvent(): Promise<V1ChargeDisputeFundsReinstatedEvent>;
}

/**
 * Occurs when funds are removed from your account due to a dispute.
 */
export interface V1ChargeDisputeFundsWithdrawnEvent extends EventBase {
  type: 'v1.charge.dispute.funds_withdrawn';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
}
export interface V1ChargeDisputeFundsWithdrawnEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.dispute.funds_withdrawn';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
  fetchEvent(): Promise<V1ChargeDisputeFundsWithdrawnEvent>;
}

/**
 * Occurs when the dispute is updated (usually with evidence).
 */
export interface V1ChargeDisputeUpdatedEvent extends EventBase {
  type: 'v1.charge.dispute.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
}
export interface V1ChargeDisputeUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.dispute.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Dispute>;
  fetchEvent(): Promise<V1ChargeDisputeUpdatedEvent>;
}

/**
 * Occurs whenever an uncaptured charge expires.
 */
export interface V1ChargeExpiredEvent extends EventBase {
  type: 'v1.charge.expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeExpiredEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeExpiredEvent>;
}

/**
 * Occurs whenever a failed charge attempt occurs.
 */
export interface V1ChargeFailedEvent extends EventBase {
  type: 'v1.charge.failed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeFailedEventNotification extends EventNotificationBase {
  type: 'v1.charge.failed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeFailedEvent>;
}

/**
 * Occurs whenever a pending charge is created.
 */
export interface V1ChargePendingEvent extends EventBase {
  type: 'v1.charge.pending';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargePendingEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.pending';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargePendingEvent>;
}

/**
 * Occurs whenever a refund is updated on selected payment methods. For updates on all refunds, listen to `refund.updated` instead.
 */
export interface V1ChargeRefundUpdatedEvent extends EventBase {
  type: 'v1.charge.refund.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Refund>;
}
export interface V1ChargeRefundUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.refund.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Refund>;
  fetchEvent(): Promise<V1ChargeRefundUpdatedEvent>;
}

/**
 * Occurs whenever a charge is refunded, including partial refunds. Listen to `refund.created` for information about the refund.
 */
export interface V1ChargeRefundedEvent extends EventBase {
  type: 'v1.charge.refunded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeRefundedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.refunded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeRefundedEvent>;
}

/**
 * Occurs whenever a charge is successful.
 */
export interface V1ChargeSucceededEvent extends EventBase {
  type: 'v1.charge.succeeded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeSucceededEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.succeeded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeSucceededEvent>;
}

/**
 * Occurs whenever a charge description or metadata is updated, or upon an asynchronous capture.
 */
export interface V1ChargeUpdatedEvent extends EventBase {
  type: 'v1.charge.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
}
export interface V1ChargeUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.charge.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Charge>;
  fetchEvent(): Promise<V1ChargeUpdatedEvent>;
}

/**
 * Occurs when a payment intent using a delayed payment method fails.
 */
export interface V1CheckoutSessionAsyncPaymentFailedEvent extends EventBase {
  type: 'v1.checkout.session.async_payment_failed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
}
export interface V1CheckoutSessionAsyncPaymentFailedEventNotification
  extends EventNotificationBase {
  type: 'v1.checkout.session.async_payment_failed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
  fetchEvent(): Promise<V1CheckoutSessionAsyncPaymentFailedEvent>;
}

/**
 * Occurs when a payment intent using a delayed payment method finally succeeds.
 */
export interface V1CheckoutSessionAsyncPaymentSucceededEvent extends EventBase {
  type: 'v1.checkout.session.async_payment_succeeded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
}
export interface V1CheckoutSessionAsyncPaymentSucceededEventNotification
  extends EventNotificationBase {
  type: 'v1.checkout.session.async_payment_succeeded';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
  fetchEvent(): Promise<V1CheckoutSessionAsyncPaymentSucceededEvent>;
}

/**
 * Occurs when a Checkout Session has been successfully completed.
 */
export interface V1CheckoutSessionCompletedEvent extends EventBase {
  type: 'v1.checkout.session.completed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
}
export interface V1CheckoutSessionCompletedEventNotification
  extends EventNotificationBase {
  type: 'v1.checkout.session.completed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
  fetchEvent(): Promise<V1CheckoutSessionCompletedEvent>;
}

/**
 * Occurs when a Checkout Session is expired.
 */
export interface V1CheckoutSessionExpiredEvent extends EventBase {
  type: 'v1.checkout.session.expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
}
export interface V1CheckoutSessionExpiredEventNotification
  extends EventNotificationBase {
  type: 'v1.checkout.session.expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Checkout.Session>;
  fetchEvent(): Promise<V1CheckoutSessionExpiredEvent>;
}

/**
 * Occurs when a Climate order is canceled.
 */
export interface V1ClimateOrderCanceledEvent extends EventBase {
  type: 'v1.climate.order.canceled';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
}
export interface V1ClimateOrderCanceledEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.order.canceled';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
  fetchEvent(): Promise<V1ClimateOrderCanceledEvent>;
}

/**
 * Occurs when a Climate order is created.
 */
export interface V1ClimateOrderCreatedEvent extends EventBase {
  type: 'v1.climate.order.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
}
export interface V1ClimateOrderCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.order.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
  fetchEvent(): Promise<V1ClimateOrderCreatedEvent>;
}

/**
 * Occurs when a Climate order is delayed.
 */
export interface V1ClimateOrderDelayedEvent extends EventBase {
  type: 'v1.climate.order.delayed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
}
export interface V1ClimateOrderDelayedEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.order.delayed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
  fetchEvent(): Promise<V1ClimateOrderDelayedEvent>;
}

/**
 * Occurs when a Climate order is delivered.
 */
export interface V1ClimateOrderDeliveredEvent extends EventBase {
  type: 'v1.climate.order.delivered';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
}
export interface V1ClimateOrderDeliveredEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.order.delivered';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
  fetchEvent(): Promise<V1ClimateOrderDeliveredEvent>;
}

/**
 * Occurs when a Climate order's product is substituted for another.
 */
export interface V1ClimateOrderProductSubstitutedEvent extends EventBase {
  type: 'v1.climate.order.product_substituted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
}
export interface V1ClimateOrderProductSubstitutedEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.order.product_substituted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Order>;
  fetchEvent(): Promise<V1ClimateOrderProductSubstitutedEvent>;
}

/**
 * Occurs when a Climate product is created.
 */
export interface V1ClimateProductCreatedEvent extends EventBase {
  type: 'v1.climate.product.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Product>;
}
export interface V1ClimateProductCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.product.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Product>;
  fetchEvent(): Promise<V1ClimateProductCreatedEvent>;
}

/**
 * Occurs when a Climate product is updated.
 */
export interface V1ClimateProductPricingUpdatedEvent extends EventBase {
  type: 'v1.climate.product.pricing_updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Product>;
}
export interface V1ClimateProductPricingUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.climate.product.pricing_updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Climate.Product>;
  fetchEvent(): Promise<V1ClimateProductPricingUpdatedEvent>;
}

/**
 * Occurs whenever a coupon is created.
 */
export interface V1CouponCreatedEvent extends EventBase {
  type: 'v1.coupon.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
}
export interface V1CouponCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.coupon.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
  fetchEvent(): Promise<V1CouponCreatedEvent>;
}

/**
 * Occurs whenever a coupon is deleted.
 */
export interface V1CouponDeletedEvent extends EventBase {
  type: 'v1.coupon.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
}
export interface V1CouponDeletedEventNotification
  extends EventNotificationBase {
  type: 'v1.coupon.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
  fetchEvent(): Promise<V1CouponDeletedEvent>;
}

/**
 * Occurs whenever a coupon is updated.
 */
export interface V1CouponUpdatedEvent extends EventBase {
  type: 'v1.coupon.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
}
export interface V1CouponUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.coupon.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Coupon>;
  fetchEvent(): Promise<V1CouponUpdatedEvent>;
}

/**
 * Occurs whenever a credit note is created.
 */
export interface V1CreditNoteCreatedEvent extends EventBase {
  type: 'v1.credit_note.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
}
export interface V1CreditNoteCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.credit_note.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
  fetchEvent(): Promise<V1CreditNoteCreatedEvent>;
}

/**
 * Occurs whenever a credit note is updated.
 */
export interface V1CreditNoteUpdatedEvent extends EventBase {
  type: 'v1.credit_note.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
}
export interface V1CreditNoteUpdatedEventNotification
  extends EventNotificationBase {
  type: 'v1.credit_note.updated';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
  fetchEvent(): Promise<V1CreditNoteUpdatedEvent>;
}

/**
 * Occurs whenever a credit note is voided.
 */
export interface V1CreditNoteVoidedEvent extends EventBase {
  type: 'v1.credit_note.voided';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
}
export interface V1CreditNoteVoidedEventNotification
  extends EventNotificationBase {
  type: 'v1.credit_note.voided';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1CreditNote>;
  fetchEvent(): Promise<V1CreditNoteVoidedEvent>;
}

/**
 * Occurs whenever a new customer is created.
 */
export interface V1CustomerCreatedEvent extends EventBase {
  type: 'v1.customer.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Customer>;
}
export interface V1CustomerCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Customer>;
  fetchEvent(): Promise<V1CustomerCreatedEvent>;
}

/**
 * Occurs whenever a customer is deleted.
 */
export interface V1CustomerDeletedEvent extends EventBase {
  type: 'v1.customer.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Customer>;
}
export interface V1CustomerDeletedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Customer>;
  fetchEvent(): Promise<V1CustomerDeletedEvent>;
}

/**
 * Occurs whenever a customer is signed up for a new plan.
 */
export interface V1CustomerSubscriptionCreatedEvent extends EventBase {
  type: 'v1.customer.subscription.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionCreatedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.created';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionCreatedEvent>;
}

/**
 * Occurs whenever a customer's subscription ends.
 */
export interface V1CustomerSubscriptionDeletedEvent extends EventBase {
  type: 'v1.customer.subscription.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionDeletedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.deleted';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionDeletedEvent>;
}

/**
 * Occurs whenever a customer's subscription is paused. Only applies when subscriptions enter `status=paused`, not when [payment collection](https://docs.stripe.com/billing/subscriptions/pause) is paused.
 */
export interface V1CustomerSubscriptionPausedEvent extends EventBase {
  type: 'v1.customer.subscription.paused';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionPausedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.paused';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionPausedEvent>;
}

/**
 * Occurs whenever a customer's subscription's pending update is applied, and the subscription is updated.
 */
export interface V1CustomerSubscriptionPendingUpdateAppliedEvent
  extends EventBase {
  type: 'v1.customer.subscription.pending_update_applied';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionPendingUpdateAppliedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.pending_update_applied';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionPendingUpdateAppliedEvent>;
}

/**
 * Occurs whenever a customer's subscription's pending update expires before the related invoice is paid.
 */
export interface V1CustomerSubscriptionPendingUpdateExpiredEvent
  extends EventBase {
  type: 'v1.customer.subscription.pending_update_expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionPendingUpdateExpiredEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.pending_update_expired';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionPendingUpdateExpiredEvent>;
}

/**
 * Occurs whenever a customer's subscription is no longer paused. Only applies when a `status=paused` subscription is [resumed](https://docs.stripe.com/api/subscriptions/resume), not when [payment collection](https://docs.stripe.com/billing/subscriptions/pause) is resumed.
 */
export interface V1CustomerSubscriptionResumedEvent extends EventBase {
  type: 'v1.customer.subscription.resumed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionResumedEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.resumed';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionResumedEvent>;
}

/**
 * Occurs three days before a subscription's trial period is scheduled to end, or when a trial is ended immediately (using `trial_end=now`).
 */
export interface V1CustomerSubscriptionTrialWillEndEvent extends EventBase {
  type: 'v1.customer.subscription.trial_will_end';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
}
export interface V1CustomerSubscriptionTrialWillEndEventNotification
  extends EventNotificationBase {
  type: 'v1.customer.subscription.trial_will_end';
  // Object containing the reference to API resource relevant to the event.
  related_object: V2.Core.Events.RelatedObject;
  // Retrieves the object associated with the event.
  fetchRelatedObject(): Promise<V1Subscription>;
  fetchEvent(): Promise<V1CustomerSubscriptionTrialWillEndEvent>;
}

/**
 * Occurs whenever a subscription changes (e.g., switching from one plan to another, or changing the status from trial to active).
 */
[...]
